#add-user .actions {
    height: 32px;
    overflow: auto;
}


#add-user .actions ul {
    margin-bottom: 10px;
    display: none;
}

#add-user .actions ul li {
    float: left;
    margin-left: 6px;
}

#add-user .actions ul li a {
    display: block;
    float: left;
    padding: 4px 6px 0;
    background: url("../images/add_actions_but.jpg") repeat-x top;
    height: 15px;
    border: 1px solid #c9c9c9;
    font-weight: bold;
    color: #454545;
    font-size: 11px;
    line-height: 11px;
    border-radius: 3px;
}

#add-user .actions ul li a:hover {
    background: url("../images/add_actions_but.jpg") repeat-x bottom;
}

#add-user .actions ul li a img {
    float: left;
    position: relative;
    top: -1px;
    margin-right: 4px;
}

#add-user .table-add {
    height: 345px;
}

#add-user .table-add .scroll {
    height: 285px;
    padding-bottom: 15px;
}

#add-user .table-add .scroll.ex>.jspContainer>.jspPane {
    padding-bottom: 265px !important;
}

#add-user .table-add .head {
    height: 35px;
    border-bottom: solid 1px #dbdbdb;
    overflow: auto;
    width: 886px;
    margin: 0 auto;
    padding-top: 3px;

}

#add-user .table-add .th {
    float: left;
    padding-top: 8px;
    margin-right: 20px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

#add-user .table-add .th.selectall, #add-user .table-add .check {
    background: url("../images/checkbox_par.jpg") no-repeat 9px 8px;
    width: 43px;
    height: 27px;
    margin-right: 0;
    cursor: pointer;
}

#add-user .table-add .th.selectall.active, #add-user .table-add .check.active {
    background: url("../images/checkbox_par_active.png") no-repeat 9px 8px;
}

#add-user .table-add .th.mail {
    width: 333px;
    margin-left: -10px;
}

#add-user .table-add .th.group {
    width: 300px;
    text-align: left;

}

#add-user .table-add .th.status {
    width: 94px;
    padding-left: 33px;
}

#add-user .table-add .user {
    height: 39px;
    background: url("../images/bg/dashed.png") repeat-x bottom;
    width: 886px;
    margin: 0 auto;
}

#add-user .table-add .check {
    float: left;
    background: url("../images/checkbox_par.jpg") no-repeat 9px 12px;
}

#add-user .table-add .ac_bg.active {
    background: #e0e5ea;
    height: 38px;

}

#add-user .table-add .ac_bg.active .check {
    background: url("../images/checkbox_par_active.png") no-repeat 9px 12px;
}

#add-user .table-add.use .user .mail {
    padding-top: 4px;
}

#add-user .table-add .user .group {
    width: 332px;
    float: left;
    padding-top: 4px;
    margin-right: 20px;
    color: #000;

}

#add-user .table-add .user .mail input {
    width: 312px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px #f1f1f1;
    font-size: 12px;
    color: #000;
    padding: 0 10px;
    height: 28px;
}

#add-user .table-add .user .status {
    width: 125px;
    float: left;
    padding-top: 4px;
}

#add-user .table-add .user .status .sbHolder {
    width: 106px;
    margin-top: 3px;
}

#add-user .table-add .user .status .sbSelector {
    width: 110px;
}

#add-user .table-add .user .status .sbOptions {
    width: 126px;
    z-index: 99000;
}

#add-user .table-add .user .status .sbOptions li {
    padding-left: 10px;
}

#add-user .table-add .user .status .sbOptions li a {
    color: #000;
}

#add-user .table-add .user.clear {
    display: none;
}

#add-user .sbHolder {
    border: 1px solid #d5d5d5;
    height: 22px;
    padding: 0 10px;
    position: relative;
    border-radius: 2px;
    background: #e2e2e2;
    float: left;
    margin-right: 0;
    width: 106px;
    margin-top: 3px;
}

#add-user .sbToggle {
    background: url(../images/bg/drop.png) no-repeat 8px 5px;
    display: block;
    height: 17px;
    outline: none;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 17px;
    z-index: 100;
}

#add-user .sbSelector {
    display: block;
    height: 20px;
    left: 0;
    outline: none;
    padding-top: 1px;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 2px;
    line-height: 14px;
    color: #000;
    text-decoration: none;
    width: 110px;
    white-space: nowrap;
    font-size: 13px;

}

#add-user .sbOptions {
    border: 1px solid #D5D5D5;
    padding: 0;
    border-radius: 2px;
    background: #E2E2E2;
    list-style: none;
    left: -1px;
    margin: 0;
    position: absolute;
    top: 17px;
    font-size: 12px;
    overflow-y: auto;
    border-top: none;
    width: 126px;
    z-index: 99000;
}


#add-user .select-group {
    background: #fff;
    float: left;
    padding: 0 32px 0 10px;
    height: 28px;
    cursor: pointer;
    width: 289px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px #f1f1f1;
    font-size: 14px;
    position: relative;
}

#add-user .select-group .arrow {
    width: 23px;
    height: 24px;
    position: absolute;
    top: 2px;
    right: 1px;
    cursor: pointer;
    background: url(../images/arr_select.jpg) no-repeat;
}

#add-user .select-group p.select-group-text {
    line-height: 28px;
    margin-bottom: 0;
}

#add-user .select-group-list {
    border: 1px solid #c9c9c9;
    position: absolute;
    width: 100%;
    height: 262px;
    left: -1px;
    top: 28px;
    background: #FFF;
    font-size: 14px;
    display: none;
    cursor: default;
    z-index: 9000;
}

#add-user .select-group-list input {
    width: auto;
    height: auto;
    float: left;
    margin: 4px 10px 0 0;
}

#add-user .select-group-list span {
}

#add-user .select-group-list ul {
    margin: 0;
}

#add-user .select-group-list li {
    clear: both;
    padding: 0;
}

#add-user .select-group-list li label {
    font-size: 14px;
}

#add-user .select-group-list li input.new_text {
    border: 1px solid #CCC;
    color: #565656;
    height: 20px;
    line-height: 16px;
}

#add-user .select-group-list .create {
    margin: 10px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
}

#add-user .select-group-list .white_btn {
    background: url("../images/bg/white_btn_bg.jpg") repeat-x scroll 0 0 #E9E9E9;
    border: 1px solid #AFAFAF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 2px #DBDBDF;
    color: #000000;
    display: block;
    padding: 4px 16px 3px;
    position: relative;
    text-decoration: none;
    float: left;
    margin: 5px 0 0 10px;
    behavior: url(../PIE.htc);
}


#add-user .select-group-scroll {
    height: 180px;
}

#add-user .select-group-scroll .jspVerticalBar {
    right: 6px;
}



#add-user .select-group-cont {
    padding: 0 0 0 10px;
}

#add-user .table-add .select-group p.select-group-text {
    color: #000;
    font-size: 12px;
}

#add-user .table-add .select-group input[type=checkbox] {
    width: 0;
    height: 0;
    position: absolute;
    left: -90000px;
}

#add-user .table-add .select-group li .edit {
    position: absolute;
    background: url("../images/bg/edit.png") no-repeat;
    width: 23px;
    height: 23px;
    right: 10px;
    border: none;
    display: none;
    z-index: 99999;
}

#add-user .table-add .select-group li .del {
    position: absolute;
    background: #ecf1f6 url("../images/bg/del3.png") no-repeat;
    width: 23px;
    height: 23px;
    right: 10px;
    border: none;
    display: none;
    z-index: 99999999;
}

#add-user .table-add .select-group label {
    display: block;
    padding: 2px 3px 3px 24px;
    cursor: pointer;
    font-size: 12px;
    color: #000;
    background: url("../images/checkbox_par.png") no-repeat 2px 4px;
}

#add-user .table-add .select-group label.active {
    background: url("../images/checkbox_par_active.png") no-repeat 2px 4px;
}

#add-user .table-add .select-group label input {
    display: inline-block;
    float: none;
    padding: 0;
    margin: 0;
}

#add-user .table-add .select-group li {
    padding: 1px;
    margin-right: 10px;
    position: relative;
    height: 25px;
}

#add-user .table-add .select-group li:hover, .table-add .select-group li.active {
    background: #ecf1f6;
}

#add-user .table-add .select-group li:hover .edit {
    display: block;
}

#add-user .table-add .select-group li.active:hover .edit {
    display: none;
}

#add-user .table-add .select-group-list .create a {
    font-size: 12px;
    color: #000;
    font-weight: bold;
}

#add-user .table-add .add-new {
    display: block;
    width: 312px;
    color: #7e7e7e;
    font-size: 12px;
    padding: 7px 10px;
    line-height: 14px;
    margin-left: 50px;
    border: 1px solid #c7c7c7;
    margin-top: 6px;
}

#add-user .table-add .user .mail {
    width: 333px;
    float: left;
    padding-top: 12px;
    margin-right: 20px;
    color: black;
    margin-left: -10px;
}

#add-user .dash-top.exel {
    margin-top: 32px;
}

#add-user #upload_exel {
    padding: 67px 0;
    width: 510px;
    margin: 0 auto;
}

#add-user #get_link {
    padding: 31px 0 31px;
}

#add-user #get_link .table-add {
    height: auto;
    margin-bottom: 20px;
}

#add-user #get_link .table-add p {
    margin-bottom: 0;
    padding-top: 5px;
}

#add-user #get_link .table-add {
    height: auto;
    margin-bottom: 20px;
}

#add-user #get_link .table-add .select-group-scroll {
    height: 110px;
}

#add-user #get_link .select-group-list {
    height: 190px;
}

#add-user #get_link .table-add .user {
    padding-bottom: 16px;
}

#add-user #get_link .table-add .head.oth {
    width: 490px;
    margin: 0 auto;
}

#add-user #get_link  .table-add .user .group {
    width: 342px;
}

#add-user #get_link  .table-add .th.group {
    width: 352px;
}

#add-user #get_link  .table-add .th.status {
    margin-right: 0;
    width: 94px;
    padding-left: 0;
    margin-left: -8px;
}

#add-user #get_link .select-group {
    width: 300px;
}

#add-user #get_link p {
    background: none;
}

#add-user #get_link .table-add p {
    padding-bottom: 5px;
}

#add-user #get_link .table-add .user {
    width: auto;
}

#add-user #get_link .table-add .th {
    font-weight: normal;
    color: #000;
}

#add-user.dialog-assign #get_link p {
    margin-bottom: 14px;
}