#course-assign .left-assign {
    width: 518px;
    margin-top: 15px;
}

#course-assign .left-assign .selecting-assign.ex2-assign {
    padding: 0 12px;
    width: 494px;
    height: 357px;
    background: none;
    border: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-top: 2px;
}

#course-assign .selecting-assign.ex2-assign .users-assign {
    height: 345px;
    width: auto;
}

#course-assign .selecting-assign.ex2-assign .user-assign {
    width: auto;
}

#course-assign .left-assign.ex2-assign .users-assign .user-assign.pred-assign {
    height: 28px;
    padding: 5px 0 3px;
    padding-bottom: 3px;
    background: none;
    overflow: visible;
    border-bottom: 1px solid #DBDBDB;
    /*float: left;*/
}

#course-assign .left-assign .users-assign .user-assign.pred-assign .ac_bg-assign {
    overflow: visible;
    background: none;
}
#course-assign .left-assign .users-assign .user-assign .ac_bg-assign {
    padding-left: 10px;
}

#course-assign .left-assign #selecting-assign .users-assign.change-assign .user-assign.pred-assign .check-assign {
    margin-top: 3px;
}

#course-assign .left-assign.ex2-assign .users-assign .user-assign.pred-assign .mail-assign {
    font-weight: bold;
    color: #000;
}

#course-assign .left-assign.ex2-assign .users-assign .mail-assign {
    width: auto;
}

#course-assign .left-assign .users-assign .user-assign .mail-assign input {
    display: block;
    height: 28px;
    padding: 0 10px;
    border: 1px solid #D0D0D0;
    color: black;
    font-size: 12px;
    margin: 0;
    width: 430px;
    line-height: 28px;
}

#course-assign .left-assign .users-assign.change-assign .user-assign .check-assign {
    margin-top: 9px;
}

#course-assign .cor-assign {
    width: 70px;
    right: 24px;
    top: 7px;
    margin-right: -20px;
    position: absolute;
    padding: 4px 6px 0;
    background: url("../images/add_actions_but.jpg") repeat-x top;
    height: 15px;
    border: 1px solid #C9C9C9;
    font-weight: bold;
    color: #434343;
    font-size: 11px;
    line-height: 11px;
    border-radius: 3px;
    display: none;
}

#course-assign .cor-assign img {
    margin-top: -2px;
    float: left;
    padding-right: 4px;
}

#course-assign .selecting-assign.ex2-assign .users-assign.change-assign .scroll-assign.spin-assign.fix-assign {
    height: 270px !important;
}
#course-assign .left-assign.ex2-assign .users-assign .scroll-assign.exel-assign {
    height: 313px;
}


#course-assign .selecting-assign.ex2-assign .users-assign.change-assign .sub-assign {
    margin-top: -19px;
}

#course-assign .sub-assign {
    background: url("../images/white_cover2.png") repeat-x top;
    height: 20px;
    margin: -15px -5px 0 -15px;
    position: relative;
    z-index: 100;
}



#course-assign #selecting-assign .users-assign .user-assign.addnew-assign {
    background: none;
}


#course-assign .addnew-assign.out-assign {
    margin: 0 0 0 10px;
    overflow: auto;
    display: none;
}

#course-assign .mail-assign button {
    width: 452px;
    height: 28px;
    padding: 0 10px;
    border: 1px solid #D0D0D0;
    color: #7E7E7E;
    font-size: 12px;
    background: #F4F4F4;
    text-align: left;
    cursor: pointer;
    margin-left: 22px;
}

#course-assign .left-assign .users-assign .user-assign.addnew-assign .check-assign {
    display: none;
}

#course-assign .pad-assign {
    height: 6px;
    width: 300px;
}

#course-assign .user-assign.empty-assign {
    display: none;
}

#course-assign .mail-assign button:hover {
    border: 1px solid #666;
    background: #fbfbfb;
}

#course-assign .left-assign .users-assign .user-assign .mail-assign {
    font-size: 12px;
    line-height: 16px;
    color: black;
}

#course-assign .left-assign.exel-assign #upload_exel-assign {
    padding: 66px 0 66px;
}

#course-assign .left-assign.exel-assign {
    margin-top: 17px;
}

#course-assign .linked-assign {
    margin-top: 17px;
}

