#edit-users .actions-assign {
    height: 32px;
    overflow: auto;
}


#edit-users .actions-assign ul {
    margin-bottom: 10px;
    display: none;
}

#edit-users .actions-assign ul li {
    float: left;
    margin-right: 6px;
}

#edit-users .actions-assign ul li a {
    display: block;
    float: left;
    padding: 4px 6px 0;
    background: url("../images/add_actions_but.jpg") repeat-x top;
    height: 15px;
    border: 1px solid #c9c9c9;
    font-weight: bold;
    color: #454545;
    font-size: 11px;
    line-height: 11px;
    border-radius: 3px;
}

#edit-users .actions-assign ul li a:hover {
    background: url("../images/add_actions_but.jpg") repeat-x bottom;
}

#edit-users .dash-top-assign {
    margin-bottom: 15px;
}

#edit-users .actions-assign ul li a img {
    float: left;
    position: relative;
    top: -1px;
    margin-right: 4px;
}

#edit-users .table-add-assign {
    height: 410px;
}

#edit-users .table-add-assign .scroll-assign {
    height: 370px;
    padding-bottom: 15px;
}

#edit-users .table-add-assign .scroll-assign.ex-assign>.jspContainer>.jspPane {
    padding-bottom: 265px !important;
}

#edit-users .table-add-assign .head-assign {
    height: 35px;
    border-bottom: solid 1px #dbdbdb;
    overflow: auto;
    width: 886px;
    margin: 0 auto;
    padding-top: 3px;

}

#edit-users .jspPane {
    padding-bottom: 0 !important;
}

#edit-users .table-add-assign .th-assign {
    float: left;
    padding-top: 9px;
    margin-right: 20px;
    color: #808080;
    font-size: 12px;
    font-weight: normal;
}

#edit-users .table-add-assign .th-assign.empty-assign {
    height: 20px;
    width: 95px;
    margin-right: 0;
}

#edit-users .table-add-assign .th.selectall, #edit-users .table-add-assign .check-assign {
    background: url("../images/checkbox_par.jpg") no-repeat 20px 9px;
    width: 54px;
    height: 27px;
    margin-right: 0;
    cursor: pointer;
}

#edit-users .table-add .th-assign.selectall-assign.active, #edit-users .table-add-assign .check-assign.active {
    background: url("../images/checkbox_par_active.png") no-repeat 20px 9px;
}

#edit-users .table-add-assign .th-assign.mail-assign {
    width: 288px;
    margin-left: 0;
}

#edit-users .table-add-assign .th-assign.name-assign {
    width: 315px;
    margin-left: 0;
}

#edit-users .table-add-assign .th-assign.group-assign {
    width: 300px;
    text-align: left;

}

#edit-users .table-add-assign .th-assign.status-assign {
    width: 125px;
}

#edit-users .table-add-assign .user-assign {
    height: 41px;
    background: url("../images/bg/dashed.png") repeat-x bottom;
    width: 886px;
    margin: 0 auto;
}

#edit-users .table-add-assign .user-assign.last {
    background: none;
    padding-bottom: 5px;
}

#edit-users .table-add-assign .check-assign {
    float: left;
    background: url("../images/checkbox_par.jpg") no-repeat 20px 13px;
}

#edit-users .table-add-assign .ac_bg.active {
    background: #e0e5ea;
    height: 38px;

}

#edit-users .jspVerticalBar {
    right: 6px;
}

#edit-users .table-add-assign .ava-assign {
    display: block;
    float: left;
    margin: 10px 20px 0 0;
}

#edit-users .table-add-assign .ac_bg-assign.active .check-assign {
    background: url("../images/checkbox_par_active.png") no-repeat 20px 13px;
}

#edit-users .table-add-assign.use-assign .user-assign .mail-assign {
    padding-top: 4px;
}

#edit-users .table-add-assign .user-assign .group-assign {
    width: 332px;
    float: left;
    padding-top: 4px;
    margin-right: 20px;
    color: #000;

}

#edit-users .table-add-assign .user-assign .mail-assign input {
    width: 312px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px #f1f1f1;
    font-size: 12px;
    color: #000;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
}

#edit-users .table-add-assign .user-assign .status-assign {
    width: 125px;
    float: left;
    padding-top: 4px;
}

#edit-users .table-add-assign .user-assign .status-assign .sbHolder {
    width: 106px;
    margin-top: 3px;
}

#edit-users .table-add-assign .user-assign .status-assign .sbSelector {
    width: 110px;
}

#edit-users .table-add-assign .user-assign .status-assign .sbOptions {
    width: 126px;
    z-index: 99000;
}

#edit-users .table-add-assign .user-assign .status-assign .sbOptions li {
    padding-left: 10px;
}

#edit-users .table-add-assign .user-assign .status-assign .sbOptions li a {
    color: #000;
}

#edit-users .table-add-assign .user-assign.clear-assign {
    display: none;
}

#edit-users .sbHolder {
    border: 1px solid #d5d5d5;
    height: 22px;
    padding: 0 10px;
    position: relative;
    border-radius: 2px;
    background: #e2e2e2;
    float: left;
    margin-right: 0;
    width: 106px;
    margin-top: 3px;
}

#edit-users .sbToggle {
    background: url(../images/bg/drop.png) no-repeat 8px 5px;
    display: block;
    height: 17px;
    outline: none;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 17px;
    z-index: 100;
}

#edit-users .sbSelector {
    display: block;
    height: 20px;
    left: 0;
    outline: none;
    padding-top: 1px;
    overflow: hidden;
    position: absolute;
    text-indent: 10px;
    top: 2px;
    line-height: 14px;
    color: #000;
    text-decoration: none;
    width: 110px;
    white-space: nowrap;
    font-size: 13px;

}

#edit-users .sbOptions {
    border: 1px solid #D5D5D5;
    padding: 0;
    border-radius: 2px;
    background: #E2E2E2;
    list-style: none;
    left: -1px;
    margin: 0;
    position: absolute;
    top: 17px;
    font-size: 12px;
    overflow-y: auto;
    border-top: none;
    width: 126px;
    z-index: 99000;
}


#edit-users .select-group-assign {
    background: #fff;
    float: left;
    padding: 0 32px 0 10px;
    height: 28px;
    cursor: pointer;
    width: 289px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px #f1f1f1;
    font-size: 14px;
    position: relative;
}

#edit-users .select-group-assign .arrow-assign {
    width: 23px;
    height: 24px;
    position: absolute;
    top: 2px;
    right: 1px;
    cursor: pointer;
    background: url(../images/arr_select.jpg) no-repeat;
}

#edit-users .select-group-assign p.select-group-text-assign {
    line-height: 28px;
    margin-bottom: 0;
}

#edit-users .select-group-list-assign {
    border: 1px solid #c9c9c9;
    position: absolute;
    width: 100%;
    height: 262px;
    left: -1px;
    top: 28px;
    background: #FFF;
    font-size: 14px;
    display: none;
    cursor: default;
    z-index: 9000;
}

#edit-users .select-group-list-assign input {
    width: auto;
    height: auto;
    float: left;
    margin: 4px 10px 0 0;
}

#edit-users .select-group-list-assign span {
}

#edit-users .select-group-list-assign ul {
    margin: 0;
}

#edit-users .select-group-list-assign li {
    clear: both;
    padding: 0;
}

#edit-users .select-group-list-assign li label {
    font-size: 14px;
}

#edit-users .select-group-list-assign li input.new_text-assign {
    border: 1px solid #CCC;
    color: #565656;
    height: 20px;
    line-height: 16px;
}

#edit-users .select-group-list-assign .create-assign {
    margin: 10px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
}

#edit-users .select-group-list-assign .white_btn-assign {
    background: url("../images/bg/white_btn_bg.jpg") repeat-x scroll 0 0 #E9E9E9;
    border: 1px solid #AFAFAF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 2px #DBDBDF;
    color: #000000;
    display: block;
    padding: 4px 16px 3px;
    position: relative;
    text-decoration: none;
    float: left;
    margin: 5px 0 0 10px;
    behavior: url(../PIE.htc);
}


#edit-users .select-group-scroll-assign {
    height: 180px;
}

#edit-users .select-group-scroll-assign .jspVerticalBar {
    right: 6px;
}



#edit-users .select-group-cont-assign {
    padding: 0 0 0 10px;
}

#edit-users .table-add-assign .select-group-assign p.select-group-text-assign {
    color: #000;
    font-size: 12px;
}

#edit-users .table-add-assign .select-group-assign input[type=checkbox] {
    width: 0;
    height: 0;
    position: absolute;
    left: -90000px;
}

#edit-users .table-add-assign .select-group-assign li .edit-assign {
    position: absolute;
    background: url("../images/bg/edit.png") no-repeat;
    width: 23px;
    height: 23px;
    right: 10px;
    border: none;
    display: none;
    z-index: 99999;
}

#edit-users .table-add-assign .select-group-assign li .del-assign {
    position: absolute;
    background: #ecf1f6 url("../images/bg/del3.png") no-repeat;
    width: 23px;
    height: 23px;
    right: 10px;
    border: none;
    display: none;
    z-index: 99999999;
}

#edit-users .table-add-assign .select-group-assign label {
    display: block;
    padding: 2px 3px 3px 24px;
    cursor: pointer;
    font-size: 12px;
    color: #000;
    background: url("../images/checkbox_par.png") no-repeat 2px 4px;
}

#edit-users .table-add-assign .select-group-assign label.active {
    background: url("../images/checkbox_par_active.png") no-repeat 2px 4px;
}

#edit-users .table-add-assign .select-group-assign label input {
    display: inline-block;
    float: none;
    padding: 0;
    margin: 0;
}

#edit-users .table-add-assign .select-group-assign li {
    padding: 1px;
    margin-right: 10px;
    position: relative;
    height: 25px;
}

#edit-users .table-add-assign .select-group-assign li:hover, .table-add-assign .select-group-assign li.active {
    background: #ecf1f6;
}

#edit-users .table-add-assign .select-group-assign li:hover .edit-assign {
    display: block;
}

#edit-users .table-add-assign .select-group-assign li.active:hover .edit-assign {
    display: none;
}

#edit-users .table-add-assign .select-group-list-assign .create-assign a {
    font-size: 12px;
    color: #000;
    font-weight: bold;
}

#edit-users .table-add-assign .add-new-assign {
    display: block;
    width: 312px;
    color: #7e7e7e;
    font-size: 12px;
    padding: 7px 10px;
    line-height: 14px;
    margin-left: 50px;
    border: 1px solid #c7c7c7;
    margin-top: 6px;
}

#edit-users .table-add-assign .user-assign .mail-assign {
    width: 288px;
    float: left;
    padding-top: 10px;
    margin-right: 20px;
    color: black;
    font-size: 14px;
    margin-left: 0;
}

#edit-users .table-add-assign .user-assign .name-assign {
    width: 315px;
    float: left;
    margin-right: 20px;

}

#edit-users .table-add-assign .user-assign .name-assign input {
    height: 30px;
    display: block;
    padding: 0 10px;
    line-height: 1;
    width: 293px;
    border:1px solid #c5c7c9;
    border-radius: 2px;
    margin-top: 3px;
    font-size: 14px;
    color: #000;
}

#edit-users .table-add-assign .user-assign .ac_bg-assign {
    height: 38px;
    margin: 2px 0;
}

#edit-users .table-add-assign .user-assign .ac_bg-assign.active {
    background: #e0e5ea;
}

#edit-users .dash-top-assign.exel-assign {
    margin-top: 32px;
}

#edit-users #upload_exel-assign {
    padding: 67px 0;
    width: 510px;
    margin: 0 auto;
}

#edit-users #get_link-assign {
    padding: 31px 0 31px;
}

#edit-users #get_link-assign .table-add-assign {
    height: auto;
    margin-bottom: 20px;
}

#edit-users #get_link-assign .table-add-assign p {
    margin-bottom: 0;
    padding-top: 1px;
}

#edit-users #get_link-assign .table-add-assign {
    height: auto;
    margin-bottom: 20px;
}

#edit-users #get_link-assign .table-add-assign .select-group-scroll-assign {
    height: 110px;
    overflow: hidden;
}

#edit-users #get_link-assign .select-group-list-assign {
    height: 200px;
    overflow: hidden;
}

#edit-users #get_link-assign .table-add-assign .user-assign {
    padding-bottom: 16px;
}

#edit-users #get_link-assign .table-add-assign .head-assign.oth-assign {
    width: 490px;
    margin: 0 auto;
}

#edit-users #get_link-assign .table-add-assign .user-assign .group-assign {
    width: 342px;
}

#edit-users #get_link-assign .table-add-assign .th-assign.group-assign {
    width: 352px;
}

#edit-users #get_link-assign  .table-add-assign .th-assign.status-assign {
    margin-right: 0;
    width: 94px;
    padding-left: 0;
    margin-left: -8px;
}

#edit-users #get_link-assign .select-group-assign {
    width: 300px;
}

#edit-users #get_link-assign p {
    background: none;
}

#edit-users #get_link-assign .table-add-assign p {
    padding-bottom: 5px;
}

#edit-users #get_link-assign .table-add-assign .user-assign {
    width: auto;
}

#edit-users #get_link-assign .table-add-assign .th-assign {
    font-weight: normal;
    color: #000;
}

#edit-users.dialog-assign #get_link-assign p {
    margin-bottom: 14px;
}

#edit-users .table-add-assign-assign.use .scroll-assign .jspVerticalBar {
    right: 5px;
}

#edit-users .body-assign {
    position: relative;
}

#shadows-assign {
    position: absolute;
    bottom: 0;
    background: url("../images/white_cover2.png") repeat-x top;
    height: 20px;
    width: 895px;
    z-index: 1000;
    left: 2px;
}