body {
    background: #f0f0f0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    min-width: 1000px;
}

.lfl {
    float: left;
}

.rfl {
    float: right;
}

.ofl {
    overflow: auto;
}

.top {
    background: url("../images/black_top_bg.jpg") repeat-x;
}

.top .left {
    background: url("../images/blzck_logo_teach.jpg") no-repeat right top;
    width: 202px;
    height: 42px;

}

.container {
    margin: 0 auto;
    width: 960px;
}

.center .container {
    padding-top: 150px;
    width: 740px;

}

.monitor {
    margin-left: 50px;
}

h1 {
    font-size: 32px;
    margin-bottom: 12px;
    font-weight: bold;
}

.txt {
    margin-left: 111px;
    padding-top: 5px;
}

.center .container.big {
    background: url("../images/monitor.png") no-repeat 670px 38px;
    margin:  0;
    width: auto;
    min-height: 500px;
    padding-top: 0;

}

.instruction {
    padding-top: 90px;
    color: #4c4c4c;
    font-size: 14px;
    padding-left: 138px;

}

.instruction h1, .instruction h2 {
    font-size: 32px;
    color: #000;
    margin-bottom: 0;
    font-weight: normal;
}

.instruction .header span {
    display: block;
    padding-left: 20px;
    font-size: 19px;
    color: #666;
    line-height: 40px;
}

.instruction strong {
    margin-bottom: 15px;
    display: block;
}

.instruction .header {
    margin-bottom: 20px;

}

.instruction strong, .instruction p {
    line-height: 18px;
}

.down_load {
    display: block;
    background: url("../images/load_plug_but.png") repeat-x top;
    width: 224px;
    height: 36px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    margin-top: 40px;
    padding-left: 18px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #b9b9b9;
}

.down_load:hover {
    background: url("../images/load_plug_but.png") repeat-x bottom;

}

.down_load img{
    display: block;
    margin-top: 5px;
    float: left;
}

.down_load span{
    display: block;
    padding-top: 10px;
    padding-left: 18px;
    float: left;
}

.instruction .start{
    font-size: 15px;
    font-weight: bold;
    color: #9e9e9e;
    margin-bottom: 40px;

}

.hide{
    padding-top: 40px;
    padding-bottom: 60px;
    display: none;

}

.hide li{
    position: relative;
    padding-bottom: 10px;
}

.hide li span{
    display: block;
    position: relative;
    top:18px;
    color: #000;
    font-weight: bold;
    font-size: 26px;
    left:-40px;
}

.instruction .hide p{
    margin-bottom: 15px;
}

.hide ul{
    margin-bottom: 40px;
}

.hide .feedback, .hide .feedback a{
    color: #787878;
    font-size: 15px;
    line-height: 23px;
}

.inn{
    width: auto;
    padding-left: 20px;
}


