@media (min-width:1416px) {
    .center .container.big{
        margin: 0 auto;
        width: 1201px;
        background: url("../images/monitor.png") no-repeat 560px 38px;

    }

    .top .container.big{
        width: 1201px;
    }

    .instruction{
        padding-left: 30px;
    }


}