body, html, #main {
    min-height: 600px;
}

#header.new-user .container {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
}

#course-view-new-user {
    padding: 0 22px;
    width: 960px;
    margin: -4px auto 0;
}

#course-view-new-user a.back {
    background: url("../images/ico_back.png") no-repeat right;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    padding-right: 15px;
    color: #000;
    width: 150px;
    margin-bottom: 10px;
    display: block;
}

#course-view-new-user .dash-top, #course-view-new-user .dash-right, #course-view-new-user .dash-left, #course-view-new-user .dash-bottom {
    position: static;
    width: auto;
    height: auto;
    margin: 0;

}

#course-view-new-user .dash-right {
    background-position: right;
}

#course-view-new-user .dash-bottom {
    padding: 5px 6px;
    background-position: bottom;
}

#course-view-new-user .panel {
    background: #e7ecf1;
    padding: 13px;
    position: relative;
    margin-bottom: 6px;
}

#course-view-new-user .info {
    float: left;
    padding: 0 90px 0 120px;
    min-height: 103px;
    position: relative;
}

#course-view-new-user .navi-box-cont {
    z-index: 1;
    height: 100px;
    position: absolute;
    left: 0;
    top: -3px;
}

#course-view-new-user .author {
    margin: 5px 0 18px 0;
    color: #666666;
    font-size: 14px;
}

#course-view-new-user .head .menu {
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    overflow: auto;
    float: left;
    margin: 0;
}

#course-view-new-user .head .menu li {
    float: left;
    padding: 5px 18px 0;
    margin: 0;
    background: url("../images/cv-menu.jpg") repeat-x;
    height: 25px;
    border-right: 1px solid #d7d7d7;
    font-size: 14px;
}

#course-view-new-user a.button-green {
    background: url("../images/green_bg_button.jpg") repeat-x top;
    height: 14px;
    border-radius: 3px;
    border: 1px solid #839d22;
    box-shadow: 0 0 3px #aaa;
    display: inline-block;
    padding: 6px 0 10px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 #487a15;
    margin-right: 5px;
    width: 123px;
    text-align: center;
}

#course-view-new-user a.button-green:hover {
    background-position: bottom;
}

#course-view-new-user .head .menu {
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    overflow: auto;
    float: left;
    margin: 0;
}

#course-view-new-user .head .menu li {
    float: left;
    padding: 5px 18px 0;
    margin: 0;
    background: url("../images/cv-menu.jpg") repeat-x;
    height: 25px;
    border-right: 1px solid #d7d7d7;
    font-size: 14px;

}

#course-view-new-user .head .menu li.home {
    padding: 6px 10px 0 10px;
    height: 24px;
}

#course-view-new-user .head .menu li.home a {
    width: 17px;
    height: 17px;
    margin-left: 2px;
    background: url("../images/cv-home-ico.png") no-repeat right;
    display: block;
}

#course-view-new-user .head .menu li.home.active a {
    background: url("../images/cv-home-ico.png") no-repeat left;
}

#course-view-new-user .head .menu li.active {
    background: #a2acb6;
    color: #fff;
    box-shadow: inset 0 0 5px #696f76;
}

#course-view-new-user .head .menu li a {
    display: block;
    overflow: auto;
    float: left;
}

#course-view-new-user .head .menu li.active a {
    color: #fff;
    text-shadow: 0 1px 0 #4e5359;
}

#course-view-new-user .head .menu li a span {
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    background: #de4940;
    display: inline-block;
    margin-left: 2px;
    border-radius: 2px;
    padding: 3px 6px;
    line-height: 10px;
    border: 1px solid #ce443b;
    box-shadow: 0 2px 0 #fff;
}

#course-view-new-user .head .menu li.active a span {
    box-shadow: none;
}

.tab_bar {
    overflow: visible;
}

.tab_bar ul {
    margin: 0;
}

.tab_bar li {
    float: left;
    padding: 0;
    padding-right: 3px;
}

.tab_bar li a {
    display: block;
    background: #a3a3a3;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    height: 23px;
    font-size: 14px;
    color: #fff;
    padding: 0 20px;
    padding-top: 3px;
    font-weight: bold;

}

.tab_bar li.active a {
    background: #ececec;
    height: 23px;
    border: 1px solid #dfdfdf;
    border-bottom: 0;
    margin-bottom: -1px;
    color: #656565;
    position: relative;
    z-index: 100;

}

.account .notify {
    width: 365px;
    float: left;
}

.account .notify .gray {
    background: #ececec;
    padding: 22px 20px 13px;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border: 1px solid #dfdfdf;
    position: relative;
}

.account .notify .gray .corner {
    background: url("../images/new_corner.jpg") no-repeat;
    width: 48px;
    height: 52px;
    position: absolute;
    right: -1px;
    top: -1px

}

.account .notify .gray.hide {
    display: none;
}

.account .notify .gray .tarif {
    font-size: 14px;
    color: #000;
    line-height: 18px;
    margin-bottom: 12px;

}

#course-view-new-user .head .menu li.last {
    border: none;
}

#course-view-new-user .options {
    float: right;
    width: 280px;
    position: absolute;
    right: 13px;
    bottom: 20px;
}

#course-view-new-user .options .time {
    padding-left: 42px;
    background: url("../images/ico_watch.jpg") no-repeat top left;
    margin-bottom: 17px;
}

#course-view-new-user .options .timer {
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

#course-view-new-user .options .timer span {
    font-size: 20px;
    font-weight: bold;
}

#course-view-new-user .time em {
    font-style: normal;
    color: #666;
    font-size: 12px;
    display: block;
}

#course-view-new-user .options .time {
    background-position: left 4px;
}

#course-view-new-user .options {
    width: auto;
    right: 15px;
}

#course-view-new-user a.button-green {
    width: 156px;
    margin-bottom: -2px;
}

#course-view-new-user .navi-box-cont .plashka {
    color: #fff;
    font-size: 11px;
    position: absolute;
    background: url("../images/plash-gray.png") no-repeat;
    width: 54px;
    height: 18px;
    text-align: center;
    top: 67px;
    right: -5px;
    padding-top: 2px;

}

#course-view-new-user .navi-box-cont .plashka strong {
    font-size: 14px;

}

#course-view-new-user .text {
    float: left;
    width: 385px;
    padding-top: 25px;
    margin: 0 0 0 35px;

}

#course-view-new-user .content {
    font-family: "Helvetica Neue", sans-serif;
}

#course-view-new-user .text .top {
    color: #000;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 50px;
}

#course-view-new-user .text .top strong {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

#course-view-new-user .text .top p, #course-view-new-user .context p {
    font-size: 14px;
    line-height: 22px;
}

#course-view-new-user .notify {
    float: right;

}

#course-view-new-user .text .bot {
    text-align: center;
    color: #6c6c6c;
}

#course-view-new-user h5 {
    font-size: 24px;
    margin-bottom: 15px;

}

#course-view-new-user .text .bot p {
    font-size: 14px;
    line-height: 20px;
}

#course-view-new-user .text .bot a, #course-view-new-user .context a {
    color: #006fe1;
    font-weight: bold;
    text-decoration: underline;
}

#course-view-new-user .text .bot a:hover, #course-view-new-user .context a:hover {
    text-decoration: none;
}

#course-view-new-user .account .notify {
    width: 487px;
    margin-top: 10px;
}

#course-view-new-user .tab_bar li a span {
    font-weight: normal;
}

#course-view-new-user .cont li {
    background: url("../images/bg/dashed.png") repeat-x bottom;
    padding-bottom: 8px;
    margin-bottom: 8px;
    color: #000;
    font-size: 14px;
    padding-left: 0;
    position: relative;
    z-index: 200;

}

#course-view-new-user .cont {
    margin-bottom: 0;
}

#course-view-new-user .cont li.last {
    background: none;
    margin-bottom: 0;
    padding-bottom: 0;

}

#course-view-new-user .notify .gray {
    height: 308px;
    padding-top: 15px;
}

#course-view-new-user .new-user {
    width: 960px;
}

#course-view-new-user .container {
    width: 960px;
    padding: 0;
}

#course-view-new-user h1 {
    font-size: 20px;
    line-height: 22px;
}

#header.new-user .h-logo {
    padding-left: 0;
    margin-left: -5px;
    padding-right: 5px;
}

#header.new-user .container .header-search {
    position: relative;
    float: right;
    right: 0;
}

#header.new-user .h-menu>a {
    margin-right: 0;
}

#header.new-user .h-menu>a.plus {
    margin-right: 10px;
}

#course-view-new-user .author {
    margin-bottom: 15px;
}

#course-view-new-user .panel {
    overflow: visible;
    padding-bottom: 4px;
    padding-left: 15px;

}

#course-view-new-user.navi-box-cont {
    left: 2px;
}

#course-view-new-user .text.fln {
    float: none;
    margin: 0 auto 60px;
    width: 505px;
}

#course-view-new-user .text.fln.pad {
    margin: 123px auto 137px;

}

#course-view-new-user .text.fll {
    margin-top: 120px;
}

#course-view-new-user .gray .scroll {
    height: 308px;
}

#course-view-new-user .head .menu li {
    padding: 5px 13px 0;
}

#course-view-new-user .head .menu li.home {
    padding: 6px 10px 0;
}

#course-view-new-user .tab_bar li a {
    height: 25px;
    padding: 5px 15px 0;
}

#course-view-new-user .text.admin .top {
    border-bottom: 0;
    margin-bottom: 120px;
}

#course-view-new-user .context {
    text-align: center;
    padding-top: 105px;
}

#course-view-new-user a.button-blue {
    height: 14px;
    border-radius: 3px;
    border: 1px solid #839d22;
    box-shadow: 0 0 3px #aaa;
    display: inline-block;
    padding: 6px 0 10px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 #487a15;
    margin-right: 5px;
    text-align: center;
}

#course-view-new-user a.button-blue {
    background: url("../images/blue_bg_button.jpg") repeat-x top;
    border: 1px solid #4f5884;
    padding: 6px 11px 10px 36px;
    text-shadow: 0 1px #38597c;
    position: relative;
    margin-bottom: -3px;
}

#course-view-new-user a.button-blue.last {
    padding: 6px 15px 10px 36px;
    margin-right: 0;

}

#course-view-new-user a.button-blue:hover {
    background-position: bottom;
}

#course-view-new-user a.button-blue i {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 9px;
    top: 6px;
    border: none !important;
}

#course-view-new-user a.button-blue i.edits {
    background: url("../images/ico-white-edit.png");
}

#course-view-new-user a.button-blue i.view {
    background: url("../images/ico-white-view.png");
}

#course-view-new-user .text .bot .item {
    width: 280px;
    margin: 0 auto 15px;
}

#course-view-new-user .text .bot .item span {
    display: block;
    float: left;
    text-align: right;
    color: #797979;
    font-size: 12px;
    width: 130px;
    margin-right: 10px;
    line-height: 15px;
}

#course-view-new-user .text .bot .item strong {
    display: block;
    color: #000000;
    float: left;
    text-align: left;
    font-size: 30px;
    padding-top: 8px;
}

#course-view-new-user .cont li img {
    padding-left: 5px;
}

#course-view-new-user .edit-now {
    font-size: 14px;
    color: #006fe1;
    text-decoration: underline;
    display: block;
    margin-top: -10px;
}

#course-view-new-user .edit-now:hover {
    text-decoration: none;
}

#course-view-new-user .ico {
    width: 31px;
    height: 28px;
    display: block;
    float: left;
    margin-right: 5px;

}

#course-view-new-user .ico.doc {
    background: url("../images/ico-files-doc.png") no-repeat;
}

#course-view-new-user .ico.ppt {
    background: url("../images/ico-files-ppt.png") no-repeat;
}

#course-view-new-user .ico.xls {
    background: url("../images/ico-files-xls.png") no-repeat;
}

#course-view-new-user .ico.pdf {
    background: url("../images/ico-files-pdf.png") no-repeat;
}

#course-view-new-user #profile_files  .cont  li span {
    display: block;
    float: left;
    padding-top: 2px;

}

#course-view-new-user #profile_files  .cont  li img {
    display: block;
    float: left;
    padding-top: 7px;
}

#course-view-new-user .ico.test {
    width: 25px;
    background: url("../images/ico-test.png") no-repeat;
}

#course-view-new-user .progress-info span {
    display: block;
}

#course-view-new-user .progress-info {
    margin-left: 35px;

}

#course-view-new-user .progress-info span {
    margin-bottom: 5px;
}

#course-view-new-user .progress-info .percents {
    float: left;
    background: #c6ef9b;
    border-radius: 3px;
    padding: 0 5px;
    display: block;
    font-size: 12px;
    margin-right: 5px;
    color: #4e7832;
}

#course-view-new-user .progress-info .balls {
    font-size: 12px;
    color: #888888;
}

#course-view-new-user .progress-info .green {
    color: #147700;
}

#course-view-new-user .progress-info .red {
    color: #ff0000;
}

#course-view-new-user .progress-info .progress {
    float: left;
    border-right: 1px solid #d7d7d7;
    padding-right: 15px;
    margin-right: 15px;
    font-size: 12px;
    color: #888;

}

#course-view-new-user .progress-info .statistic {
    overflow: auto;
}

#course-view-new-user .progress-info .progress .bar {
    height: 4px;
    background: #d7d7d7;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    width: 118px;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 0 1px #f8f8f8, inset 0 1px #cfcfcf;
    position: relative;

}

#course-view-new-user .progress-info .progress .bar .inner {
    background: url("../images/progress-blue.jpg");
    position: absolute;
    border: 1px solid #5bace9;
    border-radius: 2px;
    height: 4px;
    top: -1px;
    box-shadow: 0 1px 1px #d3d3d3;
}

#course-view-new-user #profile_files .cont li .hovers img {
    padding: 0;
    display: inline;
    float: none;

}

#course-view-new-user .hovers a {
    display: block;
    width: 27px;
    height: 26px;
    text-align: center;
    float: left;

}

#course-view-new-user .hovers {
    position: absolute;
    right: 8px;
    display: none;
}

#course-view-new-user .hovers .load {
    padding-top: 7px;
    height: 19px;
}

#course-view-new-user .hovers .del {
    padding-top: 2px;
    height: 24px;
}

#course-view-new-user .hovers a:hover {
    background: url("../images/hover-grad-bg.png") no-repeat;

}

#course-view-new-user .cont li:hover .hovers {
    display: block;
}

#course-view-new-user .options .time .links {
    color: #666666;
    font-size: 12px;
    position: relative;
}

#course-view-new-user .options .time .links span {
    padding: 0 8px;
}

#course-view-new-user  .options .time .links a {
    color: #b6261d;
    text-decoration: underline;
}

#course-view-new-user .options .time .links a:hover {
    text-decoration: none;
}

#course-view-new-user .options .time .timer.stat {
    padding-top: 10px;
}

#course-view-new-user #course-results {
    padding: 0 7px 0 18px;
    overflow: auto;
    width: 680px;
    float: left;
}

#course-view-new-user #course-results .notify {
    overflow: auto;
    float: none;
    width: auto;
    padding-bottom: 13px;
    margin: 10px 0 0 0;
}

#course-view-new-user #course-results .notify li {
    padding: 4px 2px 3px 5px;
    float: left;
    overflow: auto;
    margin-right: 12px;
    font-size: 13px;
    line-height: 13px;
    border-radius: 2px;
}

#course-view-new-user #course-results .notify li span {
    font-weight: bold;
    color: #fff;
    background: #f5b212;
    padding: 0 5px;
    border-radius: 2px;
}

#course-view-new-user #course-results .notify li strong {
    border-bottom: 1px #969696 dotted;

}

#course-view-new-user #course-results .notify li.active {
    background: #6a6a6a;
}

#course-view-new-user #course-results .notify li.active strong {
    color: #fff;
    border: none;
}

#course-view-new-user #course-results .notify li span.begin {
    background: #0ec0f3;
}

#course-view-new-user #course-results .notify li span.fail {
    background: #f21237;
}

#course-view-new-user #course-results .notify li span.success {
    background: #49b900;
}

#course-view-new-user #course-results .notify li span.all {
    background: #949494;
}

#course-view-new-user #course-results .remember {
    background: url("../images/show_but_bg.jpg") repeat-x;
    display: block;
    height: 17px;
    border: 1px solid #bdbdbd;
    padding: 1px 12px 0;
    color: #444444;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    margin-top: 1px;
    float: right;
    display: none;
}

#course-view-new-user #course-results .remember:hover {
    background: #f1f1f1;
}

#course-view-new-user input.search {
    border: 1px solid #d2d2d2;
    background: #fff;
    display: block;
    float: left;
    padding: 4px 10px;
    margin-bottom: 0;
    margin-right: 19px;
    width: 170px;
    border-radius: 2px;
}

#course-view-new-user #course-results .head {
    border-top: 2px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 4px 0 4px;
    overflow: auto;
}

#course-view-new-user #course-results .head .mail, #course-view-new-user #course-results .head .status, #course-view-new-user #course-results .head .time {
    float: left;
    font-size: 10px;
    color: #606060;
    width: 170px;
    padding-top: 3px;
    line-height: 11px;
}

#course-view-new-user #course-results .head .status {
    width: 70px;
}

#course-view-new-user #course-results .head .time {
    width: 80px;
}

#course-view-new-user #course-results .check {
    width: 34px;
    float: left;
    height: 20px;
}

#course-view-new-user #course-results .check span {
    display: block;
    background: url("../images/checkbox_par.png") no-repeat;
    width: 16px;
    height: 14px;
    cursor: pointer;
    margin: 6px auto 0;
}

#course-view-new-user #course-results .users .user.active .check span {
    background: url("../images/checkbox_par_active.png");
}

#course-view-new-user #course-results .check.active span {
    background: url("../images/checkbox_par_active.png");
}

#course-view-new-user  #course-results .users .user {
    background: url("../images/bg/dashed.png") repeat-x bottom;
    overflow: auto;
    height: 27px;
    padding: 1px 0 2px;
    position: relative;
}

#course-view-new-user  #course-results .users .user .ac_bg {
    padding: 4px 0 3px;
    overflow: auto;
}

#course-view-new-user  #course-results .users .user.active .ac_bg {
    background: #e7ecf1;

}

#course-view-new-user #course-results .user .check span {
    margin-top: 4px;
}

#course-view-new-user #course-results .users .user img, #course-view-new-user #course-results .users .user .name, #course-view-new-user #course-results .users .user .email {
    float: left;
    color: #000;
    font-size: 12px;
}

#course-view-new-user  #course-results .users .user .name {
    margin-left: 11px;
    padding-top: 2px;
    width: 170px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#course-view-new-user  #course-results .users .user .email {
    padding-top: 2px;
    width: 160px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#course-view-new-user  #course-results .users .user .status {
    width: 72px;
    float: left;
}

#course-view-new-user #course-results .users .user .time {
    float: left;
    width: 80px;
    padding-top: 2px;
}

#course-view-new-user #course-results.course .users .user .recall {
    background: none;
    padding: 4px 0 0 0;
    float: left;
    margin: 0;
    border: none;
    box-shadow: none;
}

#course-view-new-user #graph-bar {
    width: 215px;
    margin-top: 45px;
    float: right;
    position: relative;
}

#course-view-new-user #graph-bar .bars {
    height: 210px;
    margin-top: 35px;
    position: relative;
    margin-bottom: 20px;
}

#course-view-new-user #graph-bar .bars .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    background: url("../images/graph_bg.jpg") left repeat-y;
    border-radius: 3px;
}

#course-view-new-user #graph-bar .bars .bar.blue {
    left: 50px;
    background: url("../images/graph_bg.jpg") repeat-y -50px;
}

#course-view-new-user #graph-bar .bars .bar.pink {
    left: 100px;
    background: url("../images/graph_bg.jpg") repeat-y -100px;
}

#course-view-new-user #graph-bar .bars .bar.green {
    left: 150px;
    background: url("../images/graph_bg.jpg") repeat-y -150px;
}

#course-view-new-user #graph-bar .bars .bar span {
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    color: #757575;
    position: absolute;
    top: -30px;
    width: 40px;
}

#course-view-new-user #graph-bar ul.legend {
    overflow: auto;
    margin-bottom: 0px;
}

#course-view-new-user #graph-bar ul li {
    float: left;
    padding: 0 0 0 17px;
    margin: 0 0 4px;
    list-style: none;
    position: relative;
    height: 17px;
    width: 90px;
    line-height: 12px;
    font-size: 11px;
    color: #737373;
}

#course-view-new-user #graph-bar ul li span {
    position: absolute;
    left: 0;
    top: 1px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
}

#course-view-new-user #graph-bar ul li span.yellow {
    background: #f5b212;
}

#course-view-new-user #graph-bar ul li span.pink {
    background: #f43656;
}

#course-view-new-user #graph-bar ul li span.blue {
    background: #0ec0f3;
}

#course-view-new-user #graph-bar ul li span.green {
    background: #49b900;
}

#course-view-new-user #graph-bar .total {
    color: #757575;
    margin-top: 0;
}

#course-view-new-user .average {
    border-top: 1px solid #e0e0e0;
    margin-top: -1px;
    z-index: 1000;
    position: relative;
    padding: 20px 0;
    overflow: auto;
}

#course-view-new-user .average .col {
    float: left;
    font-family: "Helvetica Neue", Arial, sans-serif;
    min-width: 240px;

}

#course-view-new-user .average .col span {
    font-size: 12px;
    color: #797979;
    display: block;
    float: left;
    padding-right: 12px;
    text-align: right;
    line-height: 14px;

}

#course-view-new-user .average .col strong {
    display: block;
    float: left;
    font-weight: bold;
    font-size: 30px;
    padding-top: 7px;
    color: #000;
}

#course-view-new-user .average .export {
    float: right;
    display: block;
    background: url("../images/export.jpg") no-repeat;
    padding: 0 0 0 20px;
    margin-top: 10px;
    line-height: 12px;
    font-size: 12px;
    color: #0e67d2;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
}

#course-view-new-user .average .export em {
    font-style: normal;
    background: url("../images/dot_settings.jpg") repeat-x bottom;
}

#course-view-new-user .average .export:hover em {
    background: none;
}

#course-view-new-user #course-results .users .user .status .progress {
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
    background: #fff;
    border: 2px solid #f5b212;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

#course-view-new-user #course-results .users .user .status .progress span {
    position: absolute;
    background: #f5b212;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    width: 15px;
}

#course-view-new-user #course-results .users .scroll {
    min-height: 200px;
}

#course-view-new-user #course-results .users .user .status .progress span.round {
    /*border-radius: 0 0 2px 2px;*/
    padding-top: 1px;
}

#course-view-new-user #course-results .users .user .status em {
    display: block;
    font-style: normal;
    padding-top: 2px;
    font-size: 12px;
    color: #f5b212;
}

#course-view-new-user #course-results .users .user .status.success .progress {
    border-color: #49b900;
}

#course-view-new-user #course-results .users .user .status.success .progress span {
    background: #49b900;
}

#course-view-new-user #course-results .users .user .status.success em {
    color: #49b900;
}

#course-view-new-user #course-results .users .user .status.fail .progress {
    border-color: #f43656;
}

#course-view-new-user #course-results .users .user .status.fail .progress span {
    background: #f43656;
}

#course-view-new-user #course-results .users .user .status.fail em {
    color: #f43656;
}

#course-view-new-user #course-results .users .user .status.begin .progress {
    border-color: #0ec0f3;
}

#course-view-new-user #course-results .users .user .status.begin .progress span {
    background: #0ec0f3;
}

#course-view-new-user #course-results .users .user .status.begin em {
    color: #0ec0f3;
}

#course-view-new-user .content {
    min-height: 240px;
}

#tooltip {
    position: absolute;
    border: 1px solid #ccc68a;
    background: #f5f1c5;
    padding: 3px 4px;
    display: none;
    z-index: 999999999999;
    color: #5e5923;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12.5px;
    box-shadow: 0 0 13px #a9a9a9;
}

#course-view-new-user.quest-statistic .navi-box-cont img {
    margin-top: 5px;
    margin-left: 3px;

}

#course-view-new-user.quest-statistic .panel .info {
    padding-left: 93px;
}

#course-view-new-user.quest-statistic .head .menu li.active a span {
    background: #3f566f;
    border: 1px solid #3f566f;
}

#course-view-new-user .stop-now {
    color: #b6261d;
    font-size: 12px;
    text-decoration: underline;
    position: absolute;
    right: 12px;
    top: 20px;
}

#course-view-new-user .stop-now:hover {
    text-decoration: none;
}

#course-view-new-user.quest-statistic .options {
    right: 18px;
}

#course-view-new-user .tab-menu li {
    float: left;
    padding-left: 0;
    margin-right: 10px;
}

#course-view-new-user .tab-menu li a {
    color: #0e67d2;
    font-size: 13px;
    border-bottom: 1px dotted #0e67d2;
    display: block;
    position: relative;
    font-weight: bold;
}

#course-view-new-user .tab-menu li a:hover {
    border: 0;
}

#course-view-new-user .tab-menu {
    margin-bottom: 10px;
}

#course-view-new-user .tab-menu li.active a {
    background: #adadad;
    box-shadow: inset 1px 1px 2px #969696;
    border: 0;
    color: #fff;
    padding: 0 9px 2px;
    border-radius: 3px;

}

#course-view-new-user .tab-menu li span {
    display: none;
    background: url("../images/gray-tab-arr.png") no-repeat;
    width: 9px;
    height: 5px;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -5px;

}

#course-view-new-user .tab-menu li.active span {
    display: block;
}

#course-view-new-user .export-link {
    color: #0e67d2;
    font-size: 12px;
    background: url("../images/ico-loads.png") no-repeat left 4px;
    padding-left: 18px;
    margin-bottom: 10px;

}

#course-view-new-user .export-link span {
    border-bottom: 1px dotted #0e67d2;

}

#course-view-new-user .export-link:hover span {
    border: 0;
}

#course-view-new-user .questions {
    position: relative;
}

#course-view-new-user .questions .head {
    border-top: 2px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 5px 0;
    overflow: auto;
}

#course-view-new-user .content.opros {
    width: 910px;
    margin: 0 auto;
}

#course-view-new-user .questions .head div {
    float: left;
    color: #606060;
    font-size: 10px;
    line-height: 14px;
}

#course-view-new-user .questions .head input[type=text] {
    padding: 0 10px;
    border: 1px solid #cfcfcf;
    border-radius: 1px;
    width: 382px;
    height: 25px;
    line-height: 1.3;
}

#course-view-new-user .questions .search {
    width: 434px;
}

#course-view-new-user .questions .time {
    width: 86px;
}

#course-view-new-user .questions .mid-time {
    width: 92px;
}

#course-view-new-user .questions .mid-bal {
    width: 98px;
}

#course-view-new-user .questions .true-answers {
    width: 120px;
}

#course-view-new-user .questions .false-answers {
    width: 70px;
    padding-right: 10px;
    text-align: right;
}

#course-view-new-user .quest {
    padding: 1px 0 2px;
    background: url("../images/bg/dashed.png") repeat-x bottom;
}

#course-view-new-user .quest .inner {
    padding: 0 10px;
    height: 27px;
    overflow: auto;
}

#course-view-new-user .quest .inner .num {
    font-size: 12px;
    color: #9b9b9b;
    font-weight: bold;
    width: 25px;
    float: left;
    display: block;
    padding-top: 6px;
}

#course-view-new-user .quest .inner:hover {
    cursor: pointer;
    background: #e7ecf1;
}

#course-view-new-user .quest .inner div {
    float: left;
    color: #000;
}

#course-view-new-user .quest .inner .name {
    color: #000;
    padding-top: 6px;
    width: 400px;

}

#course-view-new-user .quest .inner .name span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 365px;
}

#course-view-new-user .quest .inner .progress-bar {
    background: #ca283f;
    width: 188px;
    height: 21px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 3px;
}

#course-view-new-user .quest .inner .progress-bar div {
    color: #fff;

}

#course-view-new-user .quest .inner .progress-bar .inset {
    background: #50c11e;
    height: 21px;
}

#course-view-new-user .quest .inner .progress-bar .true {
    position: absolute;
    left: 5px;
    top: 3px;
}

#course-view-new-user .quest .inner .progress-bar .false {
    position: absolute;
    top: 3px;
    right: 5px;
}

#course-view-new-user .quest .inner .time, #course-view-new-user .quest .inner .mid-time, #course-view-new-user .quest .inner .mid-bal {
    padding-top: 6px;
}

#course-view-new-user .quest .inner .good,  #course-view-new-user.quest-statistic .ac_bg .good {
    color: #358600;
}

#course-view-new-user .quest .inner .bad, #course-view-new-user.quest-statistic .ac_bg .bad {
    color: #c80020;
}

#course-view-new-user .questions .scroll {
    height: 270px;

}

#course-view-new-user .questions .sub {
    position: absolute;
    background: url("../images/white_cover3.png") repeat-x;
    height: 15px;
    bottom: 0;
    width: 100%;

}

#course-view-new-user .questions .user-progress {
    width: 115px;
    margin-right: 10px;
    height: 7px;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 10px;

}

#course-view-new-user .questions .user-progress span {
    display: block;
    float: left;
    height: 7px;
    border-right: 1px solid #fff;

}

#course-view-new-user .questions .yellow {
    background: #edad17;
}

#course-view-new-user .questions .blue {
    background: #5acbeb;
}

#course-view-new-user .questions .red {
    background: #ec5068;
}

#course-view-new-user .questions .user-progress .green {
    background: #68cc2b;
    border: 0;
    margin-right: -3px;
}

#course-view-new-user .questions .quest .total {
    color: #c3c3c3;
    padding-top: 6px;
    cursor: pointer;
    position: relative;
    font-size: 10px;
}

#course-view-new-user.quest-statistic .popup .total {
    font-size: 11px;
    color: #c3c3c3;
    padding-top: 6px;
    position: relative;

}

#course-view-new-user.quest-statistic .popup {
    background: url("../images/gray-grad-popup-bg.jpg") repeat-x;
    height: 80px;
    position: absolute;
    top: 25px;
    border: 1px solid #aaaaaa;
    padding: 12px 8px;
    white-space: nowrap;
    font-size: 11px;
    right: -18px;
    line-height: 12px;
    display: none;
    z-index: 100;

}

#course-view-new-user.quest-statistic .popup img {
    position: absolute;
    top: -5px;
    right: 20px;

}

#course-view-new-user.quest-statistic .popup strong {
    display: block;
}

#course-view-new-user .quest.use .inner {
    overflow: visible;
}

#course-view-new-user.quest-statistic .popup .hint {
    width: 62px;
    padding-top: 6px;
}

#course-view-new-user.quest-statistic .popup .color {
    width: 56px;
    height: 7px;
    margin-top: 9px;
    margin-right: 7px;
    float: left;

}

#course-view-new-user.quest-statistic .popup .color span {
    height: 7px;
}

#course-view-new-user.quest-statistic .popup .string span {
    float: left;

}

#course-view-new-user.quest-statistic .popup .green {
    background: #68cc2b;
}

#course-view-new-user.quest-statistic .popup .yellow {
    background: #edad17;
}

#course-view-new-user.quest-statistic .popup .red {
    background: #ec5068;
}

#course-view-new-user.quest-statistic .popup .blue {
    background: #5acbeb;

}

#course-view-new-user .questions .head .search-tests {
    width: 477px;
}

#course-view-new-user .questions .head .search-tests input[type=text] {
    width: 414px;
}

#course-view-new-user .questions .quest.use .name {
    width: 443px;
}

#course-view-new-user .questions .quest.use .name span {
    width: 395px;
}

#course-view-new-user .questions.resize-1 .scroll {
    height: auto;
    min-height: 330px;
}

#course-view-new-user.quest-statistic #course-results {
    padding: 0;
    width: 695px;

}

#course-view-new-user.quest-statistic #course-results  .notify {
    width: 528px;
    overflow: visible;
    float: left;

}

#course-view-new-user.quest-statistic .course-users .export-link {
    margin-bottom: 0;
    margin-top: 13px;
}

#course-view-new-user.quest-statistic #course-results .notify li span {
    min-width: 20px;
}

#course-view-new-user.quest-statistic #graph-bar {
    width: 190px;
    margin-top: 2px;
}

#course-view-new-user.quest-statistic #graph-bar ul li{
    width: 77px;
}

#course-view-new-user.quest-statistic .average .col{
    display: block;
    float: left;
    margin-right: 25px;
    min-width: 0;
}

#course-view-new-user.quest-statistic .average .col.last{
    float: right;
    margin-right: 0;

}

#course-view-new-user.quest-statistic .average .col strong em{
    font-style: normal;
    color: #959595;
}


#course-view-new-user.quest-statistic #course-results .users .user .name{
    color: #0e67d2;
}












