/*BEGIN:перенесено corse-view.css*/
#header .container {
    width: 1000px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
}



#header .container .header-search {
    position: relative;
    float: right;
    right: 0;
}

#stat-view {
    padding: 0 22px;
    width: 1000px;
    margin: -4px auto 0;
}

#main {
    max-height: none;
    height: auto;
}


#stat-view .dash-top, #stat-view .dash-right, #stat-view .dash-left, #stat-view .dash-bottom {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
}

#stat-view .dash-right, #stat-view .dash-left {
    background-position: right;
    background-image:url("../images/bg/dashed-v.png");
    background-repeat: repeat-y ;
}

#stat-view .dash-left {
    background-position: left;}

#stat-view .dash-bottom {
    padding: 5px 6px;
    background-position: bottom;
}

#course_assign .dash-bottom{
    padding: 0;
    background-position: bottom;
}


#stat-view .head .menu{
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    overflow: auto;
    float: left;
    margin: 0;
}

#stat-view .head .menu li {
    float: left;
    padding: 5px 18px 0;
    margin: 0;
    background: url("../images/cv-menu.jpg") repeat-x;
    height: 25px;
    border-right: 1px solid #d7d7d7;
    font-size: 14px;

}

#stat-view .head .menu li.home {
    padding: 6px 10px 0 10px;
    height: 24px;
}

#stat-view .head .menu li.home a {
    width: 17px;
    height: 17px;
    margin-left: 2px;
    background: url("../images/cv-home-ico.png") no-repeat right;
    display: block;
}

#stat-view .head .menu li.home.active a {
    background: url("../images/cv-home-ico.png") no-repeat left;
}

#stat-view .head .menu li.active {
    background: #a2acb6;
    color: #fff;
    box-shadow: inset 0 0 5px #696f76;
}

#stat-view .head .menu li a {
    display: block;
    overflow: auto;
    float: left;
}

#stat-view .head .menu li.active a {
    color: #fff;
    text-shadow: 0 1px 0 #4e5359;
}

#stat-view .head .menu li a span {
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    background: #de4940;
    display: inline-block;
    margin-left: 2px;
    border-radius: 2px;
    padding: 3px 6px;
    line-height: 10px;
    border: 1px solid #ce443b;
    box-shadow: 0 2px 0 #fff;
}

#stat-view .head .menu li.last {
    border: none;
}


/*END:перенесено corse-view.css*/

#header {
    margin-bottom: 15px;
}


#stat-view .otchet .dash-bottom {
    padding:15px 17px;
    overflow: auto;
}

#stat-view .otchet .inner .left, #stat-view .otchet .right .block {
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 278px;
    border: 1px solid #f3f3f3;
    border-top: 0;
    box-shadow: 0 1px 1px #f3f3f3;
    padding-bottom: 15px;
    margin-right: 15px;

}

#stat-view .otchet .menu {
    margin-bottom: 15px;
    margin-top: 5px;
}

#stat-view .otchet h3 {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    margin: 0;

}

#stat-view .otchet {
    padding-left: 15px;
}

#stat-view .otchet .faq {
    background: url("../images/ico_faq.png");
    width: 17px;
    height: 17px;
    margin-left: 10px;
    margin-top: 3px;

}

#stat-view .otchet .window_name {
    border-bottom: 1px solid #f3f3f3;
    padding: 8px 20px;
    margin-bottom: 15px;
}

#stat-view .otchet .left .window_name {
    margin-bottom: 0;
}

#stat-view .otchet .img {
    text-align: center;
    margin-bottom: 0;
}

#stat-view .otchet .colors span {
    display: block;
    color: #000;
    font-size: 13px;
    background-image: url("../images/diagram_color_sprite.png");
    background-repeat: no-repeat;
    margin-bottom: 15px;
    padding-left: 25px;
}

#stat-view .otchet .colors .blue {
    background-position: top left;

}

#stat-view .otchet .colors .red {
    background-position: left -31px;
}

#stat-view .otchet .colors .yellow {
    background-position: left -60px;
}

#stat-view .otchet .colors .gray {
    background-position: left bottom;
}

#stat-view .otchet .colors {
    padding-left: 25px;

}

#stat-view .otchet .itogo {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 12px;
    background: #eaeaea;
    padding: 10px;
    color: #000;
    overflow: auto;
    box-shadow: inset 0 1px 2px #cecece;
}

#stat-view .otchet .itogo span {
    display: block;
    padding-top: 2px;

}

#stat-view .otchet .green_but {
    background: #6ac13c;
    box-shadow: inset 0 1px 2px #468028;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
    padding: 2px 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 11px;

}

#stat-view .otchet .green_but:hover {
    box-shadow: none;
    color: #fff;
}

#stat-view .otchet .right {
    width: 650px;
}

#stat-view .otchet .right .block {
    width: 655px;
    margin-right: 0;
    margin-bottom: 12px;
    padding-bottom: 0;
}


#stat-view .otchet .right .block.last{
    margin-bottom: 0;
}

#stat-view .otchet .right .block .sod, #stat-view .otchet .right .block .sod2 {
    padding: 0 20px 15px;
    overflow: auto;
}

#stat-view .otchet .right .block .tab  li {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 12px 15px;
    color: #000;
    overflow: auto;
    box-shadow: inset 0 1px 2px #f0f0f0;
    float: left;
    width: 161px;
    margin-right: 21px;
    background: #f7f7f7;
}

#stat-view .otchet .right .block .tab  li.last {
    margin-right: 0;
}

#stat-view .otchet .right .block .tab  li img {
    float: left;
    margin-right: 15px;
    margin-top: 2px;

}

#stat-view .otchet .right .block .tab  li .znach {
    font-weight: bold;

}

#stat-view .otchet .right .block .tab li em {
    font-style: normal;
    font-size: 12px;
    display: block;
}

#stat-view .otchet .right .block .tab li strong {
    font-size: 30px;
    font-weight: 600;
}

#stat-view .otchet .right .block .border {
    border: 1px solid #e5e5e5;
    color: #000;
    margin-bottom: 0;
    overflow: auto;

}

#stat-view .otchet .border em {
    font-size: 11px;
    color: #999;
    font-style: normal;

}

#stat-view .otchet .border em, #stat-view .otchet .border span, #stat-view .otchet .border strong {
    display: block;
    text-align: center;
}

#stat-view .otchet .border strong {
    font-size: 19px;

}

#stat-view .otchet .right .block .border li {
    width: 151px;
    border-right: 1px solid #e5e5e5;
    padding: 5px 0;
    float: left;
}

#stat-view .otchet .border span {
    font-size: 13px;
}

#stat-view .otchet .right .block .border li.last {
    border: 0;
}

#stat-view .otchet .load_bar {
    position: relative;
    width: 100%;
    margin-bottom: 12px;



}

#stat-view .otchet .load_bar .hov {
    background: #d6d6d6;
    overflow: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: inset 0 1px 2px #999;

}

#stat-view .otchet .load_bar div{
    height: 25px;
}

#stat-view .otchet .load_bar .dark_blue{
    background: url("../images/load_dark_blue.jpg") repeat-x;


}

#stat-view .otchet .load_bar .mid_blue{
    background: url("../images/load_mid_blue.jpg") repeat-x;


}

#stat-view .otchet .load_bar .small_blue{
    background: url("../images/load_small_blue.jpg") repeat-x;


}

#stat-view .otchet .load_bar .light_blue{
    background: url("../images/load_light_blue.jpg") repeat-x;


}

#stat-view .otchet .load_bar .stat{
    font-size: 13px;
    color: #000;
    position: absolute;
    text-align: center;
    padding-top: 4px;
    width: 100%;
    left: 0;
    top: 0;
}

#stat-view .otchet .sod .itogo{
    margin: 0;
    margin-right: -8px;
}

#stat-view .otchet .sod .itogo span{
    margin-right: 15px;

}


#stat-view .otchet .markers .lp{
    margin-right: 55px;
}

#stat-view .otchet .markers .lp div, #stat-view .otchet .markers .rp div{
    background-image: url("../images/blue_load_bar_sprite.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    font-size: 13px;
    color: #000;

}

#stat-view .otchet .markers .rp div{
    background-image: url("../images/load_bar_light_sprite.png");

}

#stat-view .otchet .markers .dark_blue{
    background-position: left top;
    margin-bottom: 10px;
    margin-left: 10px;
}

#stat-view .otchet .markers .small_blue{
    background-position: left bottom;
    margin-left: 10px;


}

#stat-view .otchet .markers .mid_blue{
    background-position: left top;
    margin-bottom: 10px;
}


#stat-view .otchet .markers .light_blue{
    background-position: left bottom;
    margin-bottom: 1px;
}


#piechart-users {
    background: url("../images/piechart_bg.png") no-repeat center 27px;
}


.chart-tooltip {
    position: absolute;
    border-radius: 5px;
    padding: 4px 15px;
    display: none;
    text-align: center;
}


.chart-tooltip{
    background: #f3faee;
    border: 4px solid #ffffff;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
.chart-tooltip:after, .chart-tooltip:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.chart-tooltip:after {
    border-color: rgba(243, 250, 238, 0);
    border-top-color: #f3faee;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}
.chart-tooltip:before {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 14px;
    left: 50%;
    margin-left: -14px;
}

.user-line {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    padding: 2px;
}

.user-line.color1 {
    border: 2px solid #90c7d3;
}
.user-line:after, .user-line:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.user-line:after {
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}

.user-line.color1:after {
    border-color: rgba(144, 199, 211, 0);
    border-left-color: #90c7d3;
}

.arrow_box:before {

    border-width: 16px;
    top: 50%;
    margin-top: -16px;
}

.user-line.color1:before {
    border-color: rgba(144, 199, 211, 0);
    border-left-color: #90c7d3;
}