#course-view .otchet .dash-bottom {
    padding:15px 17px;
    overflow: auto;
}

#course-view .otchet .inner .left, #course-view .otchet .right .block {
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 278px;
    border: 1px solid #f3f3f3;
    border-top: 0;
    box-shadow: 0 1px 1px #f3f3f3;
    padding-bottom: 15px;
    margin-right: 15px;

}

#course-view .otchet .menu {
    margin-bottom: 15px;
    margin-top: 5px;
}

#course-view .otchet h3 {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    margin: 0;

}

#course-view .otchet {
    padding-left: 15px;
}

#course-view .otchet .faq {
    background: url("../images/ico_faq.png");
    width: 17px;
    height: 17px;
    margin-left: 10px;
    margin-top: 3px;

}

#course-view .otchet .window_name {
    border-bottom: 1px solid #f3f3f3;
    padding: 8px 20px;
    margin-bottom: 15px;
}

#course-view .otchet .left .window_name {
    margin-bottom: 0;
}

#course-view .otchet .img {
    text-align: center;
    margin-bottom: 0;
}

#course-view .otchet .colors span {
    display: block;
    color: #000;
    font-size: 13px;
    background-image: url("../images/diagram_color_sprite.png");
    background-repeat: no-repeat;
    margin-bottom: 15px;
    padding-left: 25px;
}

#course-view .otchet .colors .blue {
    background-position: top left;

}

#course-view .otchet .colors .red {
    background-position: left -31px;
}

#course-view .otchet .colors .yellow {
    background-position: left -60px;
}

#course-view .otchet .colors .gray {
    background-position: left bottom;
}

#course-view .otchet .colors {
    padding-left: 25px;

}

#course-view .otchet .itogo {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 12px;
    background: #eaeaea;
    padding: 10px;
    color: #000;
    overflow: auto;
    box-shadow: inset 0 1px 2px #cecece;
}

#course-view .otchet .itogo span {
    display: block;
    padding-top: 2px;

}

#course-view .otchet .green_but {
    background: #6ac13c;
    box-shadow: inset 0 1px 2px #468028;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
    padding: 2px 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 11px;

}

#course-view .otchet .green_but:hover {
    box-shadow: none;
    color: #fff;
}

#course-view .otchet .right {
    width: 650px;
}

#course-view .otchet .right .block {
    width: 655px;
    margin-right: 0;
    margin-bottom: 12px;
    padding-bottom: 0;
}


#course-view .otchet .right .block.last{
    margin-bottom: 0;
}

#course-view .otchet .right .block .sod, #course-view .otchet .right .block .sod2 {
    padding: 0 20px 15px;
    overflow: auto;
}

#course-view .otchet .right .block .tab  li {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 12px 15px;
    color: #000;
    overflow: auto;
    box-shadow: inset 0 1px 2px #f0f0f0;
    float: left;
    width: 161px;
    margin-right: 21px;
    background: #f7f7f7;
}

#course-view .otchet .right .block .tab  li.last {
    margin-right: 0;
}

#course-view .otchet .right .block .tab  li img {
    float: left;
    margin-right: 15px;
    margin-top: 2px;

}

#course-view .otchet .right .block .tab  li .znach {
    font-weight: bold;

}

#course-view .otchet .right .block .tab li em {
    font-style: normal;
    font-size: 12px;
    display: block;
}

#course-view .otchet .right .block .tab li strong {
    font-size: 30px;
}

#course-view .otchet .right .block .border {
    border: 1px solid #e5e5e5;
    color: #000;
    margin-bottom: 0;
    overflow: auto;

}

#course-view .otchet .border em {
    font-size: 11px;
    color: #999;
    font-style: normal;

}

#course-view .otchet .border em, #course-view .otchet .border span, #course-view .otchet .border strong {
    display: block;
    text-align: center;
}

#course-view .otchet .border strong {
    font-size: 19px;

}

#course-view .otchet .right .block .border li {
    width: 151px;
    border-right: 1px solid #e5e5e5;
    padding: 5px 0;
    float: left;
}

#course-view .otchet .border span {
    font-size: 13px;
}

#course-view .otchet .right .block .border li.last {
    border: 0;
}

#course-view .otchet .load_bar {
    position: relative;
    width: 100%;
    margin-bottom: 12px;



}

#course-view .otchet .load_bar .hov {
    background: #d6d6d6;
    overflow: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: inset 0 1px 2px #999;

}

#course-view .otchet .load_bar div{
    height: 25px;
}

#course-view .otchet .load_bar .dark_blue{
    background: url("../images/load_dark_blue.jpg") repeat-x;


}

#course-view .otchet .load_bar .mid_blue{
    background: url("../images/load_mid_blue.jpg") repeat-x;


}

#course-view .otchet .load_bar .small_blue{
    background: url("../images/load_small_blue.jpg") repeat-x;


}

#course-view .otchet .load_bar .light_blue{
    background: url("../images/load_light_blue.jpg") repeat-x;


}

#course-view .otchet .load_bar .stat{
    font-size: 13px;
    color: #000;
    position: absolute;
    text-align: center;
    padding-top: 4px;
    width: 100%;
    left: 0;
    top: 0;
}

#course-view .otchet .sod .itogo{
    margin: 0;
    margin-right: -8px;
}

#course-view .otchet .sod .itogo span{
    margin-right: 15px;

}


#course-view .otchet .markers .lp{
    margin-right: 55px;
}

#course-view .otchet .markers .lp div, #course-view .otchet .markers .rp div{
    background-image: url("../images/blue_load_bar_sprite.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    font-size: 13px;
    color: #000;

}

#course-view .otchet .markers .rp div{
    background-image: url("../images/load_bar_light_sprite.png");

}






#course-view .otchet .markers .dark_blue{
    background-position: left top;
    margin-bottom: 10px;
    margin-left: 10px;


}

#course-view .otchet .markers .small_blue{
    background-position: left bottom;
    margin-left: 10px;


}

#course-view .otchet .markers .mid_blue{
    background-position: left top;
    margin-bottom: 10px;
}


#course-view .otchet .markers .light_blue{
    background-position: left bottom;
    margin-bottom: 1px;
}


#piechart-users {
    background: url("../images/piechart_bg.png") no-repeat center 27px;
}