/*BEGIN:перенесено corse-view.css*/
#header .container {
    width: 1000px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
}

#header .container .header-search {
    position: relative;
    float: right;
    right: 0;
}

#stat-view {
    padding: 0 22px;
    width: 1000px;
    margin: -4px auto 0;
}

#main {
    max-height: none;
    height: auto;
}

#stat-view .dash-top, #stat-view .dash-right, #stat-view .dash-left, #stat-view .dash-bottom {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
}

#stat-view .dash-right, #stat-view .dash-left {
    background-position: right;
    background-image: url("../images/bg/dashed-v.png");
    background-repeat: repeat-y;
}

#stat-view .dash-left {
    background-position: left;
}

#stat-view .dash-bottom {
    padding: 5px 6px;
    background-position: bottom;
}

#course_assign .dash-bottom {
    padding: 0;
    background-position: bottom;
}

#stat-view .head .menu {
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    overflow: auto;
    float: left;
    margin: 0;
}

#stat-view .head .menu li {
    float: left;
    padding: 5px 18px 0;
    margin: 0;
    background: url("../images/cv-menu.jpg") repeat-x;
    height: 25px;
    border-right: 1px solid #d7d7d7;
    font-size: 14px;

}

#stat-view .head .menu li.home {
    padding: 6px 10px 0 10px;
    height: 24px;
}

#stat-view .head .menu li.home a {
    width: 17px;
    height: 17px;
    margin-left: 2px;
    background: url("../images/cv-home-ico.png") no-repeat right;
    display: block;
}

#stat-view .head .menu li.home.active a {
    background: url("../images/cv-home-ico.png") no-repeat left;
}

#stat-view .head .menu li.active {
    background: #a2acb6;
    color: #fff;
    box-shadow: inset 0 0 5px #696f76;
}

#stat-view .head .menu li a {
    display: block;
    overflow: auto;
    float: left;
}

#stat-view .head .menu li.active a {
    color: #fff;
    text-shadow: 0 1px 0 #4e5359;
}

#stat-view .head .menu li a span {
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    background: #de4940;
    display: inline-block;
    margin-left: 2px;
    border-radius: 2px;
    padding: 3px 6px;
    line-height: 10px;
    border: 1px solid #ce443b;
    box-shadow: 0 2px 0 #fff;
}

#stat-view .head .menu li.last {
    border: none;
}

/*END:перенесено corse-view.css*/

#header {
    margin-bottom: 15px;
}

#stat-view .otchet .dash-bottom {
    padding: 15px 17px;
    overflow: visible;
}

#stat-view .otchet .inner .left, #stat-view .otchet .right .block {
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 278px;
    border: 1px solid #f3f3f3;
    border-top: 0;
    box-shadow: 0 1px 1px #f3f3f3;
    padding-bottom: 15px;
    margin-right: 15px;

}

#stat-view .otchet .menu {
    margin-bottom: 15px;
    margin-top: 5px;
}

#stat-view .otchet h3 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin: 0;

}

#stat-view .otchet {
    padding-left: 15px;
}

#stat-view .otchet .faq {
    background: url("../images/ico_faq.png");
    width: 17px;
    height: 17px;
    margin-left: 10px;
    margin-top: 3px;

}

#stat-view .otchet .window_name {
    border-bottom: 1px solid #f3f3f3;
    padding: 8px 20px;
    margin-bottom: 15px;
}

#stat-view .otchet .left .window_name {
    margin-bottom: 0;
}

#stat-view .otchet .img {
    text-align: center;
    margin-bottom: 0;
}

#stat-view .otchet .colors span {
    display: block;
    color: #000;
    font-size: 13px;
    background-image: url("../images/diagram_color_sprite.png");
    background-repeat: no-repeat;
    margin-bottom: 15px;
    padding-left: 25px;
}

#stat-view .otchet .colors .blue {
    background-position: top left;

}

#stat-view .otchet .colors .red {
    background-position: left -31px;
}

#stat-view .otchet .colors .yellow {
    background-position: left -60px;
}

#stat-view .otchet .colors .gray {
    background-position: left bottom;
}

#stat-view .otchet .colors {
    padding-left: 25px;

}

#stat-view .otchet .itogo {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 12px;
    background: #eaeaea;
    padding: 10px;
    color: #000;
    overflow: auto;
    box-shadow: inset 0 1px 2px #cecece;
}

#stat-view .otchet .itogo span {
    display: block;
    padding-top: 2px;

}

#stat-view .otchet .green_but {
    background: #6ac13c;
    box-shadow: inset 0 1px 2px #468028;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
    padding: 2px 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 11px;

}

#stat-view .otchet .green_but:hover {
    box-shadow: none;
    color: #fff;
}

#stat-view .otchet .right {
    width: 650px;
}

#stat-view .otchet .right .block {
    width: 655px;
    margin-right: 0;
    margin-bottom: 12px;
    padding-bottom: 0;
}

#stat-view .otchet .right .block.last {
    margin-bottom: 0;
}

#stat-view .otchet .right .block .sod, #stat-view .otchet .right .block .sod2 {
    padding: 0 20px 15px;
    overflow: auto;
}

#stat-view .otchet .right .block .tab  li {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 12px 15px;
    color: #000;
    overflow: auto;
    box-shadow: inset 0 1px 2px #f0f0f0;
    float: left;
    width: 161px;
    margin-right: 21px;
    background: #f7f7f7;
}

#stat-view .otchet .right .block .tab  li.last {
    margin-right: 0;
}

#stat-view .otchet .right .block .tab  li img {
    float: left;
    margin-right: 15px;
    margin-top: 2px;

}

#stat-view .otchet .right .block .tab  li .znach {
    font-weight: bold;

}

#stat-view .otchet .right .block .tab li em {
    font-style: normal;
    font-size: 12px;
    display: block;
}

#stat-view .otchet .right .block .tab li strong {
    font-size: 30px;
    font-weight: 600;
}

#stat-view .otchet .right .block .border {
    border: 1px solid #e5e5e5;
    color: #000;
    margin-bottom: 0;
    overflow: auto;

}

#stat-view .otchet .border em {
    font-size: 11px;
    color: #999;
    font-style: normal;

}

#stat-view .otchet .border em, #stat-view .otchet .border span, #stat-view .otchet .border strong {
    display: block;
    text-align: center;
}

#stat-view .otchet .border strong {
    font-size: 19px;

}

#stat-view .otchet .right .block .border li {
    width: 151px;
    border-right: 1px solid #e5e5e5;
    padding: 5px 0;
    float: left;
}

#stat-view .otchet .border span {
    font-size: 13px;
}

#stat-view .otchet .right .block .border li.last {
    border: 0;
}

#stat-view .otchet .load_bar {
    position: relative;
    width: 100%;
    margin-bottom: 12px;

}

#stat-view .otchet .load_bar .hov {
    background: #d6d6d6;
    overflow: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: inset 0 1px 2px #999;

}

#stat-view .otchet .load_bar div {
    height: 25px;
}

#stat-view .otchet .load_bar .dark_blue {
    background: url("../images/load_dark_blue.jpg") repeat-x;

}

#stat-view .otchet .load_bar .mid_blue {
    background: url("../images/load_mid_blue.jpg") repeat-x;

}

#stat-view .otchet .load_bar .small_blue {
    background: url("../images/load_small_blue.jpg") repeat-x;

}

#stat-view .otchet .load_bar .light_blue {
    background: url("../images/load_light_blue.jpg") repeat-x;

}

#stat-view .otchet .load_bar .stat {
    font-size: 13px;
    color: #000;
    position: absolute;
    text-align: center;
    padding-top: 4px;
    width: 100%;
    left: 0;
    top: 0;
}

#stat-view .otchet .sod .itogo {
    margin: 0;
    margin-right: -8px;
}

#stat-view .otchet .sod .itogo span {
    margin-right: 15px;

}

#stat-view .otchet .markers .lp {
    margin-right: 55px;
}

#stat-view .otchet .markers .lp div, #stat-view .otchet .markers .rp div {
    background-image: url("../images/blue_load_bar_sprite.png");
    background-repeat: no-repeat;
    padding-left: 25px;
    font-size: 13px;
    color: #000;

}

#stat-view .otchet .markers .rp div {
    background-image: url("../images/load_bar_light_sprite.png");

}

#stat-view .otchet .markers .dark_blue {
    background-position: left top;
    margin-bottom: 10px;
    margin-left: 10px;
}

#stat-view .otchet .markers .small_blue {
    background-position: left bottom;
    margin-left: 10px;

}

#stat-view .otchet .markers .mid_blue {
    background-position: left top;
    margin-bottom: 10px;
}

#stat-view .otchet .markers .light_blue {
    background-position: left bottom;
    margin-bottom: 1px;
}

#piechart-users {
    background: url("../images/piechart_bg.png") no-repeat center 27px;
}

.chart-tooltip {
    position: absolute;
    border-radius: 5px;
    padding: 4px 15px;
    display: none;
    text-align: center;
}

.chart-tooltip {
    background: #f3faee;
    border: 4px solid #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.chart-tooltip:after, .chart-tooltip:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.chart-tooltip:after {
    border-color: rgba(243, 250, 238, 0);
    border-top-color: #f3faee;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
    z-index: 30;
    top: auto;
    bottom: -24px;
}

.chart-tooltip:before {
    border-color: rgba(255, 255, 255, 0);
    z-index: 30;
    border-top-color: #ffffff;
    border-width: 14px;
    left: 50%;

    margin-left: -14px;
}


.chart-tooltip .tips{
    content: '';
    height:14px;
    width:14px;
    -webkit-transform: rotate(-45deg);
    -moz-transform:rotate(45deg);
    position:absolute;
    bottom:-11px;
    left:50%;
    background: #fff;
    z-index:20;
    margin-left: -7px;
    border-left: 2px solid rgba(255,255,255,1);
    border-bottom: 2px solid rgba(255,255,255,1);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.2);
}

.user-line {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    padding: 2px;
}

.user-line.color1 {
    border: 2px solid #90c7d3;
}

.user-line:after, .user-line:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.user-line:after {
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}

.user-line.color1:after {
    border-color: rgba(144, 199, 211, 0);
    border-left-color: #90c7d3;
}

.arrow_box:before {

    border-width: 16px;
    top: 50%;
    margin-top: -16px;
}

.user-line.color1:before {
    border-color: rgba(144, 199, 211, 0);
    border-left-color: #90c7d3;
}

#stat-view .white-block {
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #f3f3f3;
    border-top: 0;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.05);
}

#stat-view .select {
    width: 183px;
    height: 31px;
    border-radius: 2px;
    border: 1px solid #bfbfbf;
    position: relative;
    background: #fafafa url("../images/st-select-bg.png") repeat-x top;
    margin-left: 20px;
    cursor: pointer;
    padding: 0;
    overflow: visible;
    color: #404040;
    font-size: 12px;
    float: left;
    z-index: 5;
}

#stat-view .select.date {
    width: 205px;
    margin-right: 16px;
}

#stat-view .select ul {
    display: none;
    position: absolute;
    left: -1px;
    z-index: 100;
    width: 183px;
    border-radius: 0 2px 2px 2px;
    border: 1px solid #bfbfbf;
    border-top: 0;
    padding: 0 0 0 0;
    margin: 0;
    top: 32px;
    background: #e4e4e4 url("../images/st-select-list-bg.png") repeat-x top;
}

#stat-view .select ul li {
    padding: 10px;
    line-height: 12px;
    margin: 0;
    border: 1px solid transparent;
    border-left: 0;
    border-right: 0;
}

#stat-view .select ul li:hover {
    color: #999999;
}

#stat-view .select ul li.active {
    border-color: #d7d7d7;
    background: #fff;
    color: #404040;
}

#stat-view .select .toggle {
    position: absolute;
    border-radius: 2px;
    border: 1px solid #bfbfbf;
    height: 31px;
    background: #fafafa url("../images/st-select-bg.png") repeat-x top;
    width: 29px;
    right: -1px;
    top: -1px;
}

#stat-view .select .toggle img {
    display: block;
    margin: 14px 0 0 11px;
}

#stat-view .select .value {
    width: 133px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0 0 10px;
    white-space: nowrap;
}

#stat-view .select.date .value {
    width: 160px;
}

#stat-view .select.active {
    background: #fafafa url("../images/st-select-bg-active.png") repeat-x top;
    border-bottom: 0;
    height: 32px;
    border-radius: 2px 2px 2px 0;
    z-index: 15;

}

#stat-view .select .picker {
    display: none;
    position: absolute;
    left: -1px;
    z-index: 100;
    border-radius: 0 2px 2px 2px;
    border: 1px solid #bfbfbf;
    padding: 0 0 0 0;
    margin: 0;
    top: 31px;
    width: 365px;
    background: #e4e4e4 url("../images/st-select-list-bg.png") repeat-x top;
}

#stat-view .select .picker .border {
    border-top: solid 1px #f3f3f3;
    position: absolute;
    width: 176px;
    top: -1px;
}

#stat-view .datepickerContainer {
    background: none;
    font-size: 11px;
    font-family: Helvetica, Arial, sans-serif;
}

#stat-view .datepickerContainer td, #stat-view .datepickerContainer th {
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;

}

#stat-view .datepickerContainer table td {
    vertical-align: top;
}

#stat-view .datepickerContainer .datepickerDoW th {
    color: #656565;
    font-size: 9px;
    text-transform: lowercase;
    text-shadow: 0 1px 0 #fff;
}

#stat-view .datepickerContainer .datepickerDays td {
    border: 1px solid #b7c1cb;
    height: 22px;
    width: 22px;
    line-height: 12px;
    vertical-align: middle;
    background: #fff;
    cursor: pointer;
}

#stat-view .datepickerContainer .datepickerDays td a {
    color: #dbd9d7;
    cursor: pointer;
    padding: 0 1px;
}

#stat-view .datepickerContainer .datepickerDays td.datepickerSelected {
    background: #dbe3ec;

}

#stat-view .datepickerContainer .datepickerDays td.datepickerSelected a {
    color: #3a3d3f;
}

#stat-view .datepickerContainer .datepickerDays td.datepickerSelected.datepickerNotInMonth {
    background: #fff;
}

#stat-view .datepickerContainer, #stat-view .datepicker {
    height: auto !important;
    position: relative;
    top: 0;
    left: 0;
    padding: 5px 5px 5px;
}

#stat-view .datepickerMonth {
    width: 80px;
}

#stat-view  .datepickerGoPrev {
    width: 40px;
}

#stat-view .datepickerMonth a {
    color: #474747;
    font-size: 11px;
}

#stat-view  .datepickerGoPrev a {
    width: 21px;
    height: 21px;
    background: url("../images/cal-prev.png") no-repeat;
    float: right;
}

#stat-view  .datepickerGoNext a {
    width: 21px;
    height: 21px;
    float: left;
    background: url("../images/cal-next.png") no-repeat;
}

#stat-view .step {
    padding: 6px 0 0;
    margin: 0;
}

#stat-view .step li {
    padding: 3px 6px;
    margin: 0 2px;
    line-height: 12px;
    float: left;
    font-size: 12px;
    color: #000;
    cursor: pointer;
    border: 1px solid transparent;
}

#stat-view .step li.active {
    background: #e5e5e5;
    border-radius: 3px;
    border-color: #dedede;
}

#chart_div {
    margin: 10px auto 35px;
    width: 850px;
    height: 190px;
}

#stat-view .metrics {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    color: #777777;
    text-align: center;
    line-height: 20px;
    margin: 20px 0 25px;
}

#stat-view .metrics .val {
    font-weight: bold;
    color: #404040;
    font-size: 20px;

}

#stat-view .metrics .val span {
    font-weight: normal;
}

#stat-view .metrics .item {
    float: left;
    width: 236px;
    border-left: 1px solid #e1e1e1;
    position: relative;
}

#stat-view .metrics .item .name {
    position: relative;
    z-index: 20;
    margin-bottom: 5px;
    cursor: pointer;
}

#stat-view .metrics .item.last {
    border-right: 1px solid #e1e1e1;
}

#stat-view .metrics .tooltip {
    position: absolute;
    border-radius: 5px;
    padding: 16px 15px;
    /*display: none;*/
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    color: #000000;
    line-height: 14px;
    left: 50%;
    top: 27px;
    text-align: center;
    width: 300px;
    margin-left: -170px;
    display: none;
    text-align: left;
    z-index: 30;
}

#stat-view .metrics .tooltip {
    background: #f3faee;
    border: 4px solid #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

#stat-view .metrics .tooltip:after, #stat-view .metrics .tooltip:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#stat-view .metrics .tooltip:after {
    border-color: rgba(243, 250, 238, 0);
    border-bottom-color: #f3faee;
    border-width: 18px;
    left: 50%;
    margin-left: -16px;
    z-index: 50;
    top:-28px;
    bottom: auto;
}

/*#stat-view .metrics .tooltip:before {*/
    /*border-color: rgba(255, 255, 255, 0);*/
    /*border-bottom-color: #ffffff;*/
    /*border-width: 14px;*/
    /*left: 50%;*/
    /*margin-left: -14px;*/
/*}*/



#stat-view .metrics .tooltip .tips{
    content: '';
    height:14px;
    width:14px;
    -webkit-transform: rotate(-45deg);
    -moz-transform:rotate(-45deg);
    position:absolute;
    top:-12px;
    left:50%;
    background: #fff;
    z-index:20;
    margin-left: -5px;
    border-left: 2px solid rgba(255,255,255,1);
    border-bottom: 2px solid rgba(255,255,255,1);
    box-shadow: 1px -1px 1px rgba(0,0,0,0.2);
}


#usersTable {
     margin: 0 0 0 20px;
 }

#usersTable #usersSortTable {
    background: url("../images/bg/dashed.png") repeat-x top;
}

#usersTable thead {
    background: url("../images/bg/dashed.png") repeat-x bottom;
}

#usersTable th {
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    vertical-align: bottom;
    font-weight: normal;
    color: #000;
    padding: 5px 0;
}

#usersTable th.check {
    width: 30px;
}

#usersTable th.name {
    width: 220px;
    cursor: pointer;
}

#usersTable th.quantity-visits {
    width: 115px;
    cursor: pointer;
}

#usersTable th.time {
    width: 146px;
    cursor: pointer;
}

#usersTable th.quantity-views {
    width: 400px;
}

#usersTable th.quantity-videos {
    width: 135px;
    cursor: pointer;
}

#stat-view .users {
    padding: 15px 0;
}

#usersTable td {
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
    font-weight: normal;
    color: #000;
    padding: 3px 0 4px;
    margin: 2px;
}

#usersTable tbody tr {
    background: url("../images/bg/dashed.png") repeat-x bottom;
    padding: 0;
}

#usersTable tbody td.name img {
    display: block;
    float: left;
    margin-right: 8px;
}

#usersTable tbody td.name span {
    display: block;
    float: left;
    padding-top: 4px;
}

#usersTable .head-pub {
    text-align: center;
    padding-bottom: 2px;
    border-bottom: solid 1px #cccccc;
    margin-bottom: 2px;
}

#usersTable .quantity-views span {
    width: 100px;
    display: block;
    float: left;
}

#usersTable td.views {
    width: 100px;
}

#usersTable td.check span {
    display: block;
    background: url("../images/checkbox_par.png") no-repeat center;
    width: 16px;
    height: 24px;
    cursor: pointer;
    margin-left: 7px;
}

#usersTable tbody td .sel {
    height: 18px;
    padding-top: 6px;
}

#usersTable tbody td.name .sel {
    padding-top: 2px;
    height: 22px;
}

#usersTable tbody .active td .sel {
    background: #ebf0f5;
    border: 0;
}

#usersTable tbody td.check .sel {
    height: 24px;
    padding-top: 0;
}

#usersTable .active td.check span {
    background: url("../images/checkbox_par_active.png") no-repeat center;
}

#usersTable th.sorting-asc, #usersTable th.sorting-desc {
    font-weight: bold;
}

#usersTable th.sorting-asc {
    background-image: url("../images/toggle-select-top.png");
    background-repeat: no-repeat;
}

#usersTable th.sorting-desc {
    background-image: url("../images/toggle-select.png");
    background-repeat: no-repeat;
}

#usersTable th.sorting-asc.name, #usersTable th.sorting-desc.name {
    background-position: 100px 25px;
}

#usersTable th.sorting-asc.quantity-visits, #usersTable th.sorting-desc.quantity-visits {
    background-position: 75px 21px;
}

#usersTable th.sorting-asc.time, #usersTable th.sorting-desc.time {
    background-position: 85px 21px;
}

#usersTable th.sorting-asc.quantity-videos, #usersTable th.sorting-desc.quantity-videos {
    background-position: 120px 21px;
}

#stat-view .userstable {
    height: 248px;
}

#stat-view .userstable .jspVerticalBar {
    right: 8px;
}

#search-table {
    height: 25px;
    background: #fff;
    border: 1px solid #d2d2d2;
    width: 170px;
    line-height: 1.3;
    padding: 0 10px;
    margin-right: 22px;

}

#stat-view .top_block {
    padding: 0 20px 10px;
    overflow: auto;
    position: relative;
}

#stat-view .print {
    display: block;
    background: url("../images/ico_print.png") no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-top: 7px;

}

#stat-view .show_but {
    background: url("../images/show_but_bg.jpg") repeat-x;
    display: block;
    height: 17px;
    border: 1px solid #bdbdbd;
    padding: 2px 12px 0;
    color: #444444;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-top: 6px;
    display: none;
}

#stat-view .show_but:hover {
    background: #f1f1f1;
}

#stat-view .statistic_buts {
    overflow: auto;
    padding-left: 0;
    margin-bottom: 7px;
}

#stat-view .statistic_buts li {
    float: left;
    margin-right: 5px;
    margin-left: 0;
    padding-left: 0;
}

#stat-view .statistic_buts a {
    display: block;
    background: url("../images/otchet_but_bg.jpg") repeat-x;
    height: 26px;
    width: 180px;
    color: #000;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    border-top: 0;
    font-size: 15px;
    padding-top: 8px;
    box-shadow: 0 1px 2px #ebebeb;

}

#stat-view .statistic_buts li.active a {
    background: #f3f8fc;
    border: 3px solid #cde6f6;
    color: #3b86c4;
    border-top: 3px solid #cde6f6;
    height: 25px;
    padding-top: 4px;
    width: 174px;
}

#usersTable.tasks th {
    padding: 10px 0;
}

#usersTable.tasks th.name {
    width: 225px;
}

#usersTable.tasks td.name span, #usersTable.stat-test td.name span {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    white-space: nowrap;
}

#usersTable.tasks th.author {
    width: 175px;
    cursor: pointer;
}

#usersTable.tasks th.begin, #usersTable.tasks th.time {
    width: 95px;
    cursor: pointer;
}

#usersTable.tasks th.end {
    width: 100px;
    cursor: pointer;
}

#usersTable.tasks th.current, #usersTable.tasks th.quantity-views {
    width: 95px;
    cursor: pointer;
}

#usersTable.tasks th.sorting-asc.name, #usersTable.tasks th.sorting-desc.name {
    background-position: 100px 14px;
}

#usersTable.tasks th.sorting-asc.author, #usersTable.tasks th.sorting-desc.author {
    background-position: 43px 14px;
}

#usersTable.tasks th.sorting-asc.begin, #usersTable.tasks th.sorting-desc.begin {
    background-position: 63px 14px;
}

#usersTable.tasks th.sorting-asc.end, #usersTable.tasks th.sorting-desc.end {
    background-position: 83px 14px;
}

#usersTable.tasks th.sorting-asc.time, #usersTable.tasks th.sorting-desc.time {
    background-position: 80px 14px;
}

#usersTable.tasks th.sorting-asc.current, #usersTable.tasks th.sorting-desc.current {
    background-position: 64px 14px;
}

#usersTable.tasks th.sorting-asc.quantity-views, #usersTable.tasks th.sorting-desc.quantity-views {
    background-position: 84px 14px;
}

#stat-view .legend {
    padding-left: 83px;
    margin: 25px 0 -25px 0;
    overflow: hidden;
}

#stat-view .legend .item {
    float: left;
    margin-right: 15px;
    font-size: 12px;
    line-height: 12px;
    color: #000;
    position: relative;
}

#stat-view .legend .item .info {
    padding-left: 13px;
}

#stat-view .legend .item .color {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 6px;
    background: #fff;
    top: 2px;
    left: 1px;
    border: 2px solid #73c841;
}

#stat-view .legend .item.color0 .color {
    border-color: #73c841;
}

#stat-view .legend .item.color1 .color {
    border-color: #90c7d3;
}

#stat-view .legend .item.color2 .color {
    border-color: #6d68d6;
}

#stat-view .legend .item.color3 .color {
    border-color: #f76565;
}

#stat-view .legend .item.color4 .color {
    border-color: #cbcc05;
}

#stat-view .legend .item.color5 .color {
    border-color: #cccccc;
}

#stat-view .legend .item.color6 .color {
    border-color: #9356af;
}

#stat-view .legend .item.color7 .color {
    border-color: #4d774c;
}

#stat-view .legend .item.color8 .color {
    border-color: #bb3493;
}

#stat-view .legend .item.color9 .color {
    border-color: #a68b6f;
}

#stat-view .user_type {
    padding: 0 20px;
    margin-bottom: 0;

}

#stat-view .user_type li {
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 0;
    overflow: auto;
    color: #000;
    font-size: 13px;
}

#stat-view .user_type li span, .user_type li strong {
    display: block;

}

#stat-view .user_type li strong {
    font-size: 30px;

}

#stat-view .user_type li.last {
    border: 0;
}

#stat-view .total {
    background: #eaeaea;
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px #dadada;
    margin: 0 12px;
    padding: 20px 20px 12px;
    overflow: auto;
}

#stat-view .total p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 14px;
}

#stat-view .total span {
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-bottom: 14px;
}

#stat-view .total span strong {
    font-size: 30px;
}

#stat-view .total .load_bar {
    position: relative;
    width: 100%;
    margin-bottom: 15px;

}

#stat-view .total .load_bar .inner {
    background: #b6b6b6;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border-bottom: 1px solid #f2f2f2;
    box-shadow: inset 0 1px 2px #9a9a9a;
    overflow: hidden;
    height: 32px;
}

#stat-view .total .load_bar .blue_line {
    background: url("../images/blue_line_bg.jpg") repeat-x;
    height: 32px;
    border-radius: 3px 0 0 3px;

}

#stat-view .total .load_bar .txt {
    position: absolute;
    color: #fff;
    font-size: 18px;
    font-family: arial, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding-top: 8px;
    text-shadow: 1px 1px 1px #7c7c7c;

}

#stat-view .left .users {
    padding: 0;
}

.h-logo {
    padding-top: 3px;
}

.h-personal {
    display: block;
    padding: 0;
    position: relative;
    top: 9px;
    margin-right: 5px;

}

#stat-view .total .load_bar .inner::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 32px;
    box-shadow: 0 0 0 3px #EAEAEA;
    border-radius: 3px;
}

#stat-view .otchet .load_bar .hov::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 25px;
    box-shadow: 0 0 0 6px #fff;
    border-radius: 25px;

}

#tooltip {
    position: absolute;
    border: 1px solid #ccc68a;
    background: #f5f1c5;
    padding: 3px 4px;
    display: none;
    z-index: 999999999999;
    color: #5e5923;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12.5px;
    box-shadow: 0 0 13px #a9a9a9;
}

#usersTable.tasks td.check, #usersTable.tasks th.check {
    width: 0;
}

#usersTable.tasks td.name, #usersTable.tasks th.name {
    width: 250px;
}

#usersTable.tasks td.author {
    width: 175px;
}

#usersTable.tasks td.author .sel {
    overflow: hidden;
    width: 173px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#usersTable.tasks td.begin, #usersTable.tasks td.time {
    width: 95px;
}

#usersTable.tasks td.end {
    width: 100px;
}

#usersTable.tasks td.current, #usersTable.tasks td.quantity-views {
    width: 95px;
}


#usersTable td.name {
    width: 220px;
}

#usersTable td.quantity-visits {
    width: 115px;
}

#usersTable td.time {
    width: 150px;
}

#usersTable td.quantity-views {
    width: 260px;
}

#usersTable td.quantity-videos {
    width: 135px;
}

#usersTable td.check {
    width: 30px;
}

#usersTable.tasks td.name span {
    max-width: 170px;
    width: auto;
}

#stat-view .click-zone {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#stat-view .otchet.test {}

#stat-view .otchet.test .statistic_buts a {
    width: auto;
    padding: 8px 20px 0;
}

#stat-view .otchet.test .statistic_buts li.active a {
    padding-top: 4px;
}

#stat-view .otchet.test .statistic_buts {
    margin-bottom: 2px;
}

#stat-view .back-stat {
    float: left;
    display: block;
    background: url("../images/ico_back.png") no-repeat right;
    padding-right: 17px;
}

#stat-view .test-info {
    padding: 15px 20px;
    margin: 14px 0 9px 0;
    overflow: auto;
}

#stat-view .test-info .timing {
    float: right;
    background: url("../images/clock_timing.png") no-repeat;
    height: 25px;
    padding-left: 45px;
    font-size: 16px;
    color: #000;
    margin-top: 5px;
    padding-top: 7px;
}

#stat-view .test-info .timing strong {
    font-size: 20px;
}

#stat-view .test-info .test-data img {
    display: block;
    float: left;
}

#stat-view .test-info .test-data .info {
    margin-left: 85px;
}

#stat-view .test-info .name {
    color: #000;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 5px;
}

#stat-view .test-info .author {
    margin: 0 0 13px 0;
    padding: 0 0 0 0;
    color: #666666;
    line-height: 14px;
    font-size: 14px;
}

#stat-view .test-info p {
    font-size: 13px;
    line-height: 16px;
    color: #000;
    padding: 0 0 3px;
    margin: 0;
}

#stat-view .test-info p a {
    text-decoration: underline;
    color: #677c90;
}

#stat-view .test-info p a:hover {
    text-decoration: none;
}

#stat-view .bargraph {
    padding: 15px 20px 15px;
    margin: 9px 0 9px 0;
    overflow: auto;
}

#stat-view .bargraph h2 {
    color: #372f2b;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 19px;
}


#usersTable.stat-test th {
    padding: 10px 0;
}

#usersTable.stat-test th.status {
    width: 220px;
    cursor: pointer;
}

#usersTable.stat-test th.timer {
    width: 150px;
    cursor: pointer;
}

#usersTable.stat-test th.ball {
    width: 285px;
    cursor: pointer;
}

#usersTable.stat-test th.ball em {
    font-size: 11px;
    color: #666;
}

#usersTable.stat-test td.status {
    width: 220px;
}

#usersTable.stat-test td.timer {
    width: 150px;
}

#usersTable.stat-test td.ball {
    width: 285px;
}

#usersTable.stat-test th.sorting-asc.name, #usersTable.stat-test th.sorting-desc.name {
    background-position: 99px 14px;
}

#usersTable.stat-test th.sorting-asc.status, #usersTable.stat-test th.sorting-desc.status {
    background-position: 65px 14px;
}

#usersTable.stat-test th.sorting-asc.timer, #usersTable.stat-test th.sorting-desc.timer {
    background-position: 95px 14px;
}

#usersTable.stat-test th.sorting-asc.ball, #usersTable.stat-test th.sorting-desc.ball {
    background-position: 125px 14px;
}

#usersTable.stat-test td.ball.success {
    color: #6acc29;
}

#usersTable.stat-test td.ball.fail {
    color: #d22d48;
}

#usersTable.stat-test .pill {
    color: #fff;
    padding: 3px 5px 2px;
    font-size: 9px;
    font-weight: bold;
    float: left;
    margin-top: -2px;
    border-radius: 3px;
}

#usersTable.stat-test .pill.nobegin {
    background: #ecad16;
}

#usersTable.stat-test .pill.success {
    background: #6acc29;
}

#usersTable.stat-test .pill.fail {
    background: #d22d48;
}

#usersTable.stat-test .progress-block {
    position: relative;
    top:3px;
    left: auto;
    right: auto;
    bottom: auto;
}


#stat-view .filter {
    overflow: auto;
    margin-bottom: 4px;
    position: absolute;
    float: left;
    left: 120px;
    top:7px;
}

#stat-view .filter li {
    padding: 2px 6px 2px 2px;
    float: left;
    overflow: auto;
    margin-right: 12px;
    font-size: 13px;
    line-height: 13px;
    border-radius: 2px;
}

#stat-view .filter li.all {
    padding-left: 6px;
    margin-right: 16px;
    margin-top: 2px;
}

#stat-view .filter li.all strong {
    padding-top: 0;
}

#stat-view .filter li strong {
    display: block;
    padding-top: 1px;
    float: left;
}

#stat-view .filter li span {
    font-weight: bold;
    color: #fff;
    min-width: 14px;
    background: #ecad16;
    padding:3px 6px 1px;
    display: block;
    float: left;
    text-align: center;
    border-radius: 2px;
    margin-right: 6px;
}

#stat-view .filter li strong {
    border-bottom: 1px #969696 dotted;

}

#stat-view .filter li.active {
    background: #6a6a6a;
}

#stat-view .filter li.active strong {
    color: #fff;
    border: none;
}

#stat-view .filter li span.begin {
    background: #5bcbec;
}

#stat-view .filter li span.fail {
    background: #ec4f68;
}

#stat-view .filter li span.success {
    background: #6acc29;
}
