#sharing-assign  h2 a {
    color: #0E67D2;
}

#sharing-assign .groups-assign, #sharing-assign .selecting-assign {
    margin-top: 0;
    height: 386px;
}

#sharing-assign .group-menu-assign .scroll-assign {
    height: 360px;
}

#sharing-assign .users-assign .scroll-assign {
    height: 325px;
}

#sharing-assign .selecting-assign .users-assign .scroll-assign {
    height: 355px;
}
