.dialog-assign .table-quests .head-quests .search-quest input {
    line-height:30px;

}

.dialog-assign.test-dialog .quest-info input {
    line-height: 30px;
}


#course-view-new-user .questions .head input[type=text]{
    line-height: 25px;
}


#course-view-new-user .questions .head .search-tests input[type=text] {
    line-height: 25px !important;
}



