#user .container {
    width: 958px;
    margin: 0 auto;
    padding-top: 4px;

}

.clr{
    clear: both;
}


#user ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

#user .container .left {
    width: 177px;
    float: left;
    margin-right: 23px;
    font-family: 'helvetica neue', sans-serif;
    color: #000;
    padding-top: 3px;
}

#user .container .left strong {
    font-size: 18px;
    display: block;
    margin-bottom: 15px;
}

#user .user_btn {
    display: block;
    background: url("../images/red_bg_button.jpg") repeat-x;
    color: #fff;
    text-shadow: 1px 1px 1px #97302d;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    border-radius: 1px;
    border: 1px solid #a43332;
    text-align: center;
    padding-top: 8px;
    box-shadow: inset 0 -1px 0 #aa3434, 0 1px 2px #c8c8c8;
    margin-bottom: 16px;

}

#user .user_btn span {
    background: url("../images/ico_user_new.png") no-repeat left;
    display: inline-block;
    padding-left: 23px;
    height: 20px;
}

#user .user_btn:hover {
    background: #e44c41;
}

#user .left .groups {
    font-size: 13px;
    color: #000;

}

#user .left .groups .header strong {
    font-size: 13px;
    display: block;
    float: left;
}

#user .left .groups .header {
    padding-left: 13px;
    overflow: auto;
    padding-right: 10px;
}

#user .left .groups .header .add_group {
    display: block;
    float: right;
    background: url("../images/ico_add_group_new.png") no-repeat top;
    width: 20px;
    height: 20px;

}

#user .left .groups .header .add_group:hover {
    background: url("../images/ico_add_group_new.png") no-repeat bottom;

}

#user .left .groups ul li {
    padding: 7px 10px 6px 13px;
    position: relative;
    border: 1px solid transparent;

}

#user .left .groups ul li span {
    display: none;
    position: absolute;
    background: url("../images/bg/edit-ico.png") no-repeat;
    width: 17px;
    height: 16px;
    right: 10px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
}

#user .left .groups ul li.active {
    background: #dfeaf6;
    border: 1px solid #ccd4df;
    box-shadow: inset 0 1px 0 #dae4ef;
}

#user .left .groups ul li.active span {
    display: block;

}

#user .right {
    float: left;
    width: 758px;
    font-family: arial, sans-serif;
}

#user .but {
    background: url("../images/but_grad_bg.jpg") repeat-x;
    height: 18px;
    border: 1px solid #bdbdbd;
    padding-left: 10px;
    border-radius: 2px;
    padding-top: 1px;
    padding-right: 20px;
    display: block;
    float: left;
    margin-right: 10px;

}

#user .but:hover {
    background: #e6e6e6;
}

#user .but span {
    display: block;
    padding-left: 18px;
    line-height: 17px;
}

#user .but.remove span {
    background: url("../images/del_oth_new.png") no-repeat left 1px;
}

#user .but.status span {
     background: url("../images/add-user-ico-add.png") no-repeat left 2px;
 }

#user .but.edits span {
    background: url("../images/ico_edit_new.png") no-repeat left 2px;
}

#user .buttons{
    margin-bottom: 8px;
    height: 26px;
}

#user .buttons a {
    display: none;
}

#user .buttons a {
    font-size: 11px;
    color: #434343;
    font-weight: bold;
}

#user .editor {
    background: url("../images/ed_but_bg.png") no-repeat top;
    width: 105px;
    height: 19px;
    border: 0;
    box-shadow: none;
    padding-left: 30px;
    padding-top: 2px;
    display: block;
    float: left;


}

#user .editor.active {
    background: url("../images/ed_but_bg.png") no-repeat bottom;
    color: #fff;

}

#user .edit {
    filter:none;
}

#user .edit ul{
    position: absolute;
    background: #f1f1f1;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    width: 99%;
    top: 22px;
    left:0;
    z-index: 200;
    display: none;

}

#user .edit ul, #user .edit ul li {
    padding: 0;
    margin:  0;
}
#user .edit ul li a{
    font-family: 'helvetica neue', sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #7b7b7b;
    display: block;
    padding: 1px 0 1px 30px;

}
#user .edit{
    position: relative;
    float: left;
    width: 135px;
    background: none;
    border: 0;
    overflow: visible;
}


#user .edit ul li a:hover{
    background: #e4e4e4;
}

#user .right .dash_top{
    background: url("../images/bg/dashed.png") repeat-x top;
    margin-bottom: 0;
}

#user .right .dash_right{
    background: url("../images/bg/dashed_v.png") repeat-y right;
}

#user .right .dash_bottom{
    background: url("../images/bg/dashed.png") repeat-x bottom;
    height: 0;
    overflow: hidden;
}

#user .right .dash_left{
    background: url("../images/bg/dashed_v.png") repeat-y left;

}

#main, body, html {
    overflow: visible;
    min-height: 0;
}

#user-list .list-users {
    padding: 5px 10px;
    position: relative;
}

#user-list .list-users .shadows {
    background: url("../images/shadows.png") repeat-x;
    width: 99%;
    height: 30px;
    position: absolute;
    bottom: 3px;
    left: 1px;
    z-index: 100;
}

#user-list .user .inner {
    height: 27px;
    overflow: auto;
}

#user-list .user {
    padding: 1px 0 2px;
    cursor: pointer;
    background: url("../images/bg/dashed.png") repeat-x bottom;
    position: relative;
}

#user-list .user .inner div, #user-list .user .inner img {
    float: left;
    display: block;
    font-size: 12px;
    color: #000;
    height: 20px;
    padding-top: 7px;
    line-height: 12px;
}

#user-list .user .inner img {
    height: auto;
    padding-top: 3px;
    padding-right: 20px;
}

#user-list .user .check {
     width: 37px;
     background: url("../images/checkbox_par.png") no-repeat 10px 6px;
}

#user-list .user.active .check {
    width: 37px;
    background: url("../images/checkbox_par_active.png") no-repeat 10px 6px;

}

#user-list .user .name {
    width: 255px;
}

#user-list .user .email {
    width: 210px;
}

#user-list .user .inner .status {
    width: 100px;
    color: #7c7c7c;
    font-weight: bold;
}

#user-list .user .actions {
    position: absolute;
    right: 7px;
    top:3px;
    display: none;
}

#user-list .user:hover .actions {
    display: block;
}

#user-list .user .actions a, #main #user-list .user .actions a.plus{
    display: block;
    width: 21px;
    height: 17px;
    padding: 4px 0 0 0;
    float: left;
    background: url("../images/bg_but-m.jpg") repeat-x top;
    border:1px solid #c8c8c8;
    text-align: center;
    margin-right: 4px;
    border-radius: 2px;
}

#user-list .user .actions a:hover {
    background: url("../images/bg_but-m.jpg") repeat-x 0 -22px;
}

#user-list .user.active .inner {
    background: #e6ebf0;
}

#user-list .headers {
    height: 34px;
    border-bottom: 1px solid #e0e0e0;
    overflow: auto;
}

#user-list .headers div {
    float: left;
}

#user-list .headers .select-all {
    width: 37px;
    cursor: pointer;
    height: 34px;
    background: url("../images/checkbox_par.png") no-repeat 10px 10px;
}

#user-list .headers .select-all.active {
    background: url("../images/checkbox_par_active.png") no-repeat 10px 10px;

}

#user-list .headers .search-users {
    width: 295px;
}

#user-list .headers #search-list {
    border-radius: 2px;
    height: 26px;
    line-height: 1;
    display: block;
    width: 235px;
    padding: 2px 10px 0;
    border:1px solid #e0e0e0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

#user-list .headers .email, #user-list .headers .status {
    color: #7f7f7f;
    font-size: 11px;
    padding-top: 10px;
    line-height: 11px;
    height: 24px;
}

#user-list .headers .email {
    width: 210px;
}

#user-list .headers .status {
    width: 150px;
}
.clicker {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}

::-ms-clear {
    display: none;
}

::-ms-reveal {
    display: none;
}


#user .nouser {
    padding: 20px 0;
    font-size: 20px;
    display: none;
}

#user .quantity {
    position: relative;
    width: 174px;
    background: #e3eaf4;
    height: 8px;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 14px;
    margin-top: -15px;
    padding: 3px 3px;
}

#user .quantity .label {
    text-align: center;
    color: #000;
    font-size: 10px;
    position: absolute;
    width: 100%;
    padding-top: 3px;
    line-height: 10px;
    top:0;
    left: 0;
}

#user .quantity .prog-bar {
    background: url("../images/progress_bg.jpg") left;
    border-radius:10px;
    height: 8px;
}

.container-aasign {
    top:-7px;
}