#webinar-assign .settings-assign {
    padding: 5px 0 15px 0;
    margin: 0 0 15px 0;
    overflow: auto;
}

#webinar-assign .set-assign {
    float: left;
    overflow: auto;
}

#webinar-assign .set-assign label {
    display: block;
    padding-bottom: 2px;
    font-size: 12px;
}

#webinar-assign .set-assign input[type=text] {
    background: #fff;
    border: 1px solid #bcbcbc;
    padding: 8px 10px 8px;
    display: block;
    box-shadow: inset 0 1px 1px #ddd;
    border-radius: 1px;
    color: #000;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    float: left;
}

#webinar-assign .name-meet-assign input[type=text] {
    width: 290px;
    margin-right: 30px;
}

#webinar-assign .date-meet-assign {
    width: 145px;
}

#webinar-assign .date-meet-assign input[type=text] {
    width: 70px;
    margin-right: 8px;
}

#webinar-assign .date-meet-assign img {
    margin-top: 1px;
}

#webinar-assign .time-meet-assign {
    width: 100px;
}

#webinar-assign .time-meet-assign em {
    display: block;
    float: left;
    padding: 8px 4px 0;
    font-style: normal;
}

#webinar-assign .time-meet-assign input[type=text] {
    width: 22px;
    padding: 8px 3px;
    text-align: center;
}

#webinar-assign .radio-assign input {
    opacity: 0;
    width: 0;
    height: 0;
    background: none;
    position: absolute;
    right: 0;
}

#webinar-assign .radio-assign {
    border-left: 1px solid #dddddd;
    margin-top: 18px;
    overflow: auto;
    padding: 8px 0 7px 30px;
}

#webinar-assign .radio-assign label {
    float: left;
    width: 100px;
    font-size: 14px;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    padding-left: 24px;
}

#webinar-assign .radio-assign label.active {
    background: url("../images/radio_active.jpg") no-repeat 0 1px;
}

#webinar-assign .radio-assign label {
    background: url("../images/radio.jpg") no-repeat 0 1px;
}

#webinar-assign .groups-assign {
    height: 303px;
}

#webinar-assign .group-menu-assign .scroll-assign {
    height: 280px;
}

#webinar-assign .users-assign .scroll-assign {
    height: 250px;
}

#webinar-assign .selecting-assign {
    height: 323px;
    padding: 0;
    width: 345px;
}

#webinar-assign .selecting-assign .users-assign .scroll-assign-wb {
    height: 255px;
    display: none;
}

#webinar-assign .selecting-assign .users-assign .scroll-assign-wb.active {
    display: block;
}

#webinar-assign .selecting-assign .users-assign {
    width: auto;
    /*overflow: hidden;*/
}

#webinar-assign .panel-accordeon-assign {
    background: url("../images/panel-accordeon.jpg") repeat-x top;
    height: 23px;
    padding: 9px 15px 0 32px;
    border: 1px solid #bfbfbf;
    position: relative;
    cursor: pointer;
    border-radius: 0 0 3px 3px;
}

#webinar-assign .toggle-acordeon-assign {
    width: 9px;
    height: 9px;
    position: absolute;
    top: 10px;
    left: 13px;
    background: url("../images/arr-panel.png") no-repeat right;

}

#webinar-assign .active .toggle-acordeon-assign {
    background: url("../images/arr-panel.png") no-repeat left;

}

#webinar-assign .panel-accordeon-assign.active {
    background: none;
    border: 1px solid transparent;
}

#webinar-assign .panel-accordeon-assign:first-child {
    border-radius: 3px 3px 0 0;
}

#webinar-assign .selecting-assign .user-group-assign {
    margin: 0 12px;
    border-top: 1px solid #ddd;
}

#webinar-assign .selecting-assign .scroll-assign-wb .jspVerticalBar {
    right: 5px;
}

#webinar-assign .selecting-assign h3 {
    float: left;
}

#webinar-assign  h3 a.faq-assign {
    width: 17px;
    top: -2px;
    height: 17px;
    background: url("../images/ico_faq.png");
    display: block;
    position: absolute;
    right: -25px;
}

#webinar-assign #upload_exel-assign {
    width: 522px;
    padding: 49px 0;
}

#webinar-assign #get_link-assign {
    margin-top: 15px;
    padding-top: 79px;
    padding-bottom: 79px;
}

#webinar-assign #get_link-assign.web-assign .link-assign {
    background: url("../images/bg/dashed.png") repeat-x bottom;
    padding-bottom: 30px;
    margin-bottom: 18px;
    width: 546px;
}

#webinar-assign #get_link-assign.web-assign .link-assign .value-assign{
    width: 410px;
}

#webinar-assign #get_link-assign h2.web-assign {
    background: url("../images/bg/dashed.png") repeat-x bottom;
    padding-bottom: 15px;
    margin-bottom: 0;

}

#webinar-assign #get_link-assign.web-assign{
    width: 546px;
    margin: 0 auto;
    padding-top: 110px;
}

#webinar-assign .parameter-assign {
    background: url("../images/bg/dashed.png") repeat-x bottom;
    padding: 30px 0;
    margin-bottom: 28px;
    overflow: auto;

}
#webinar-assign .parameter-assign div{
    float: left;
}


#webinar-assign .parameter-assign em{
    font-style: normal;
    color: #666666;
    font-size: 11px;
    display: block;
    padding-bottom: 5px;

}
#webinar-assign .parameter-assign .name-assign{
    width: 376px;
    padding-right: 10px;
}

#webinar-assign .parameter-assign .name-assign span{
    font-weight: bold;

}

#webinar-assign .parameter-assign .date-assign{
    width: 102px;
    padding-right: 10px;
}


#webinar-assign .parameter-assign span{
    font-size: 16px;
    color: #000;
}

#webinar-assign .left-assign {
    width: 520px;
    margin-top: 15px;
}

#webinar-assign .left-assign .selecting-assign.ex2-assign {
    padding: 0 12px;
    width: 494px;
    height: 323px;
    background: none;
    border: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-top: 2px;
}

#webinar-assign .selecting-assign.ex2-assign .users-assign {
    height: 315px;
    width: auto;
}

#webinar-assign .selecting-assign.ex2-assign .user-assign {
    width: auto;
}

#webinar-assign .left-assign.ex2-assign .users-assign .user-assign.pred-assign {
    height: 28px;
    padding: 5px 0 3px;
    padding-bottom: 3px;
    background: none;
    overflow: visible;
    border-bottom: 1px solid #DBDBDB;
    /*float: left;*/
}

#webinar-assign .left-assign .users-assign .user-assign.pred-assign .ac_bg-assign {
    overflow: visible;
    background: none;
}
#webinar-assign .left-assign .users-assign .user-assign .ac_bg-assign {
    padding-left: 10px;
}

#webinar-assign .left-assign #selecting-assign .users-assign.change-assign .user-assign.pred-assign .check-assign {
    margin-top: 3px;
}

#webinar-assign .left-assign.ex2-assign .users-assign .user-assign.pred-assign .mail-assign {
    font-weight: bold;
    color: #000;
}

#webinar-assign .left-assign.ex2-assign .users-assign .mail-assign {
    width: auto;
}

#webinar-assign .left-assign .users-assign .user-assign .mail-assign input {
    display: block;
    height: 28px;
    padding: 0 10px;
    border: 1px solid #D0D0D0;
    color: black;
    font-size: 12px;
    margin: 0;
    width: 430px;
    line-height: 28px;
}

#webinar-assign .left-assign .users-assign.change-assign .user-assign .check-assign {
    margin-top: 9px;
}

#webinar-assign .cor-assign {
    width: 70px;
    right: 24px;
    top: 7px;
    margin-right: -20px;
    position: absolute;
    padding: 4px 6px 0;
    background: url("../images/add_actions_but.jpg") repeat-x top;
    height: 15px;
    border: 1px solid #C9C9C9;
    font-weight: bold;
    color: #434343;
    font-size: 11px;
    line-height: 11px;
    border-radius: 3px;
    display: none;
}

#webinar-assign .cor-assign img {
    margin-top: -2px;
    float: left;
    padding-right: 4px;
}

#webinar-assign .selecting-assign.ex2-assign .users-assign.change-assign .scroll-assign.spin-assign.fix-assign {
    height: 245px !important;
}
#webinar-assign .left-assign.ex2-assign .users-assign .scroll-assign.exel-assign {
    height: 280px;
}


#webinar-assign .selecting-assign.ex2-assign .users-assign.change-assign .sub-assign {
    margin-top: -19px;
}

#webinar-assign .sub-assign {
    background: url("../images/white_cover2.png") repeat-x top;
    height: 20px;
    margin: -15px -5px 0 -15px;
    position: relative;
    z-index: 100;
}



#webinar-assign #selecting-assign .users-assign .user-assign.addnew-assign {
    background: none;
}


#webinar-assign .addnew-assign.out-assign {
    margin: 0 0 0 10px;
    overflow: auto;
    display: none;
}

#webinar-assign .mail-assign button {
    width: 452px;
    height: 28px;
    padding: 0 10px;
    border: 1px solid #D0D0D0;
    color: #7E7E7E;
    font-size: 12px;
    background: #F4F4F4;
    text-align: left;
    cursor: pointer;
    margin-left: 22px;
}

#webinar-assign .left-assign .users-assign .user-assign.addnew-assign .check-assign {
    display: none;
}

#webinar-assign .pad-assign {
    height: 6px;
    width: 300px;
}

#webinar-assign .user-assign.empty-assign {
    display: none;
}

#webinar-assign .mail-assign button:hover {
    border: 1px solid #666;
    background: #fbfbfb;
}

#webinar-assign .left-assign .users-assign .user-assign .mail-assign {
    font-size: 12px;
    line-height: 16px;
    color: black;
}


#webinar-assign .left-assign.exel-assign {
    margin-top: 17px;
}



#webinar-assign .left-assign .selecting-assign .user-group-assign {
    border: none;
    margin: 0;
}
